{% extends "admin/base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block content %}
<div class="row-fluid">
    <div class="span6">
        <h1>Write announcement</h1>
        <form action="{{ url_for('admin_announcement') }}" method="post">
            {{ form.hidden_tag() }}
            {{ form_errors(form) }}
            <div class="field">
                {{ form.subject.label }}
                {{ form.subject(id="announcement-subject", class="announcement-input") }}
            </div>
            <div class="field">
                {{ form.message.label }}
                {{ form.message(rows = 10, id="announcement-message", class="announcement-input") }}
            </div>
            <div style="text-align: right;">
                <input type="submit" class="btn btn-large" value="Send Announcement Now" />
            </div>
        </form>
    </div>
</div>

{% endblock %}
