{% extends "admin/base.html" %}

{% block content %}
<h1>Jam details: {{ jam.title }}</h1>

<h2>Edit details</h2>


title = TextField("Title", validators=[Required(), Length(max=128)])
theme = TextField("Theme", validators=[Length(max=128)])
team_limit = IntegerField("Team size limit", validators=[Required(), NumberRange(min = 0)])
start_time = DateTimeField("Start time", format="%Y-%m-%d %H:%M", validators=[Required()])
packaging_duration = IntegerField("Packaging duration", validators=[Required(), NumberRange(min = 0)])
rating_duration = IntegerField("Rating duration", validators=[Required(), NumberRange(min = 0)])
duration = IntegerField("Duration", validators=[Required(), NumberRange(min = 0)])

email = BooleanField("Send announcement email", default = True)

<h2>Jam Notifications</h2>

<table>
    <tr><th>Notification type</th><th>Status</th><th></th></tr>
    <tr>
        <td>Announcement</td>
        <td><b style="font-size: 0.8em; color: green;">SENT</b></td>
        <td></td>
    </tr>

    <tr>
        <td>Registrations open</td>
        <td><b style="font-size: 0.8em; color: green;">SENT</b></td>
        <td></td>
    </tr>

    <tr>
        <td>Jam start</td>
        <td><b style="font-size: 0.8em; color: gray;">NOT SENT</b></td>
        <td><a href="#">Send now</a></td>
    </tr>

    <tr>
        <td>Jam finish / Packaging start</td>
        <td><b style="font-size: 0.8em; color: gray;">NOT SENT</b></td>
        <td></td>
    </tr>

    <tr>
        <td>Packaging finish / Voting start</td>
        <td><b style="font-size: 0.8em; color: gray;">NOT SENT</b></td>
        <td></td>
    </tr>

    <tr>
        <td>Voting finish / Winners</td>
        <td><b style="font-size: 0.8em; color: gray;">NOT SENT</b></td>
        <td></td>
    </tr>
</table>

{% endblock %}
