{% extends "admin/base.html" %}

{% block content %}
<h1>List of users</h1>

<p>
    Quick filter: <input type="text" placeholder="Start typing..." id="filter" data-filter=".user-row" />
</p>

<form action="{{ url_for('admin_users_form') }}" method="post">

<table id="checkbox-toggle-table">
    <tr>
        <th></th>
        <th>Username</th>
        <th>Real Name</th>
        <th>eMail</th>
        <th>Registered since</th>
        <th>Location</th>
        <th>Flags</th>
        <th></th>
    </tr>
{% for user in users %}
    <tr class="checkbox-toggle user-row">
        <td>
            <img src="{{ user.getAvatar(16) }}" style="vertical-align: middle; width: 16px; height: 16px; background: #CCC; margin-left: -9px; margin-right: 10px; border: 1px solid #FFF; box-shadow: 0 0 0 1px #AAA;"/>
            <input type="checkbox" name="user-{{ user.id }}" style="vertical-align: middle;"/>
        </td>
        <td>
            {{ user.username }}
        </td>
        <td>{{ user.real_name or "n/a" }}</td>
        <td><a href="mailto:{{ user.email}}">{{ user.email }}</a></td>
        <td>{{ user.registered | formattime }}</td>
        <td>{{ user.getLocation() }}</td>
        <td>
            {% if user.is_admin %}
                <b style="font-size: 0.8em; color: red;">ADMIN</b>
            {% endif %}

            {% if user.is_deleted %}
                <b style="font-size: 0.8em; color: gray;">DELETED</b>
            {% endif %}
        </td>
        <td><a href="{{ user.url() }}">Show Profile</a></td>
    </tr>
{% endfor %}
<tr>
    <th colspan="8">
        <input type="submit" name="submit" value="Toggle Deleted" />
        <input type="submit" name="submit" value="Toggle Admin" />
        <span id="table-count">0</span> users selected
    </th>
</tr>
</table>

</form>

{% endblock %}
