{% extends "base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block content %}
<h2>New package for entry: {{ entry.title }}</h2>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

    <form action="{{ entry.url('add_package') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="box">
            <h4>Add a package</h4>
            <div class="box-content">
                <p>{{ form_errors(form) }}</p>
                <table class="details">
                    <tr>
                        <th>{{ form.type.label }}</th>
                        <td>
                            {{ form.type(size="1") }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ form.url.label }}</th>
                        <td>
                            {{ form.url(class="text-input", size="80") }}
                            <div class="input-info">Remember the <b>"http://"</b></div>
                            <div class="input-info">When submitting a link to a <b>version control repository</b>, please prepare a checkout/clone-ready URL.</div>
                            <div class="input-info">The type of a package of type "other" should probably be mentioned in the entry description.</div>
                        </td>
                    </tr>
                </table>
            </div>
            <p class="form-buttons">
                <a href="{{ entry.url() }}" class="button">Cancel</a>
                <input type="reset" class="button" value="Reset">
                <input type="submit" class="button default" value="Submit">
            </p>
        </div>
    </form>
</form>
{% endblock %}
