{% extends "base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block content %}
<h2>Add team member to {{ entry.title }}</h2>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

    <form action="{{ entry.url('add_team_member') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="box">
            <div class="box-content">
                <p>{{ form_errors(form) }}</p>
                <table class="details">
                    <tr>
                        <th>{{ form.username.label }}</th>
                        <td>
                            {{ form.username(class="text-input", size="80") }}
                        </td>
                    </tr>
                </table>
            </div>
            <p class="form-buttons">
                <a href="{{ entry.url() }}" class="button">Cancel</a>
                <input type="submit" class="button default" value="Submit">
            </p>
        </div>
    </form>
</form>
{% endblock %}

