{% extends "base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block content %}
<h2>New Screenshot for Entry: {{ entry.title }}</h2>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

    <form action="{{ entry.url('add_screenshot') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="box">
            <h4>Add a screenshot</h4>
            <div class="box-content">
                <p>{{ form_errors(form) }}</p>
                <table class="details">
                    <tr>
                        <th>{{ form.url.label }}</th>
                        <td>
                            {{ form.url(class="text-input", size="80") }}
                            <div class="input-info">remember the <b>http://</b></div>
                            <div class="input-info">Recommended format: PNG, 4:3 or 16:9</div>
                            <div class="input-info">Please upload your screenshots somewhere, e.g. at
                            <a href="http://imgur.com" target="_blank">imgur</a> and paste the link to the image here.</div>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ form.caption.label }}</th>
                        <td>
                            {{ form.caption(class="text-input", size="80") }}
                        </td>
                    </tr>
                </table>
            </div>
            <p class="form-buttons">
                <input type="reset" class="button" value="Reset">
                <input type="submit" class="button default" value="Submit">
            </p>
        </div>
    </form>
</form>
{% endblock %}
