<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% block title %}{% endblock %} « BaconGameJam</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.lightbox-0.5.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.lightbox-0.5.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/countdown.js') }}"></script>

        <link rel="icon" href="{{ url_for('static', filename='gfx/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='gfx/favicon.png') }}" type="image/png">

        <script type="text/javascript" lang="javascript">
            $(document).ready(function() {
                $('ul.screenshots li a.screenshot, a.rating-details-screenshot').lightBox({
                    imageLoading: "{{ url_for('static', filename = 'gfx/lightbox-ico-loading.gif') }}",
                    imageBtnClose: "{{ url_for('static', filename = 'gfx/lightbox-btn-close.gif') }}",
                    imageBtnPrev: "{{ url_for('static', filename = 'gfx/lightbox-btn-prev.gif') }}",
                    imageBtnNext: "{{ url_for('static', filename = 'gfx/lightbox-btn-next.gif') }}",
                    imageBlank: "{{ url_for('static', filename = 'gfx/lightbox-blank.gif') }}",
                    txtImage: "Screenshot",
                    fixedNavigation: true
                });
            });
        </script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <div class="padding">
                <div class="top-navigation">
                    <div class="btn-group">
                        <a class="btn btn-mini" href="{{ url_for('jams') }}">Jams</a>
                        <a class="btn btn-mini" href="{{ url_for('rules') }}">Rules</a>
                        <a class="btn btn-mini" href="{{ url_for('faq') }}">Help</a>
                        <a class="btn btn-mini" href="{{ url_for('subreddit') }}">r/bacongamejam</a>
                        <a class="btn btn-mini" href="{{ url_for('contact') }}#irc">IRC</a>
                        <a class="btn btn-mini" href="{{ url_for('statistics') }}">Stats</a>
                        <a class="btn btn-mini" href="{{ url_for('map') }}">Map</a>
                        <a class="btn btn-mini" href="{{ url_for('announcements') }}">Announcements</a>
                    </div>

                    <div class="btn-group">
                    {% if current_user.is_anonymous() %}
                        <a href="{{ url_for('login') }}" class="btn btn-small">Login / Signup</a>
                    {% else %}
                        <a href="{{ url_for('profile') }}" class="btn btn-small" id="account">
                            <img class="avatar" src="{{ current_user.getAvatar(16) }}" width="16" height="16" />
                            {{ current_user.username }}
                        </a>
                        <a class="btn btn-small" href="{{ url_for('logout') }}"><i class="icon-off"></i></a><
                    {% endif %}
                    </div>
                </div>

                <div id="main-title">
                    <a href="{{ url_for('home') }}">
                        <div id="logo"></div>
                        BaconGameJam
                    </a>
                </div>
            </div>
        </div>
        <div id="navigation">
            <div class="padding">
                <div class="right">
                    <form action="{{ url_for('search') }}">
                        <input class="text search" type="text" placeholder="Search..." name="q" />
                    </form>
                </div>

                <div class="left">
                    {% block menu %}
                        {% if current_jam.getStatus().code <= 1 %}
                            Next jam is
                            <b>{{ current_jam.getLink() }}</b>
                            {{ current_jam.start_time | humantime }}
                        {% elif current_jam.getStatus().code == 2 %}
                            Currently running jam is
                            <b>{{ current_jam.getLink() }}</b>
                            ending {{ current_jam.end_time | humantime }}
                        {% else %}
                            <b>{{ current_jam.getLink() }}</b>
                            has finished
                        {% endif %}
                    {% endblock %}
                </div>

                <div class="center">
                    {% block  center %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div id="content">
            <div class="padding">

            {% for category, message in get_flashed_messages(with_categories = True) %}
                <div class="alert alert-{{ category if category and category != 'message' else 'info' }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}

            {% block content %}
                 NO CONTENT!
            {% endblock %}
            </div>
        </div>
        <div id="footer">
            {% include "footer.html" %}
        </div>
    </body>
</html>
