<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% block title %}{% endblock %} « BaconGameJam</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.lightbox-0.5.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.lightbox-0.5.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/countdown.js') }}"></script>

        <link rel="icon" href="{{ url_for('static', filename='gfx/favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='gfx/favicon.png') }}" type="image/png">

        <script type="text/javascript" lang="javascript">
            $(document).ready(function() {
                $('ul.screenshots li a.screenshot, a.rating-details-screenshot').lightBox({
                    imageLoading: "{{ url_for('static', filename = 'gfx/lightbox-ico-loading.gif') }}",
                    imageBtnClose: "{{ url_for('static', filename = 'gfx/lightbox-btn-close.gif') }}",
                    imageBtnPrev: "{{ url_for('static', filename = 'gfx/lightbox-btn-prev.gif') }}",
                    imageBtnNext: "{{ url_for('static', filename = 'gfx/lightbox-btn-next.gif') }}",
                    imageBlank: "{{ url_for('static', filename = 'gfx/lightbox-blank.gif') }}",
                    txtImage: "Screenshot",
                    fixedNavigation: true
                });
            });
        </script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <div id="top-navigation">

                <ul>
                    <li><a href="{{ url_for('rules') }}">Rules</a></li>
                    <li><a href="{{ url_for('faq') }}">Help</a></li>
                    <li><a href="{{ url_for('subreddit') }}">r/bacongamejam</a></li>
                    <li><a href="{{ url_for('contact') }}#irc">IRC</a></li>
                    <li><a href="{{ url_for('statistics') }}">Stats</a></li>
                    <li><a href="{{ url_for('announcements') }}">Announcements</a></li>
                    {% if current_user %}
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>

                <div id="account">
                    {% if current_user %}
                    <a href="{{ url_for('settings') }}">
                        <img class="avatar" src="{{ current_user.getAvatar(24) }}" width="24" height="24" />
                        {{ current_user.username }}
                    </a>

                    {% else %}
                    <a href="{{ url_for('login') }}">Login / Signup</a>
                    {% endif %}
                </div>


            </div>

            <div id="title">
                <a href="{{ url_for('home') }}">
                    <div id="logo"></div>
                    BaconGameJam
                </a>
            </div>
        </div>
        <div id="navigation">
            <div class="right">
                <form action="{{ url_for('search') }}">
                    <input class="search" type="text" placeholder="Search..." name="q" />
                </form>
            </div>

            <div class="left">
                <ul class="breadcrumb">
                    {% if getPath(request.endpoint) %}
                        {% for p in getPath(request.endpoint) if p.link %}
                            <li><a href="{{ p.link }}">{{ p }}</a></li>
                        {% endfor %}
                    {% endif %}
                    {% block breadcrumb %}{% endblock %}
                </ul>
            </div>

            <div class="center">
                {% block  center %}

                {% endblock %}
            </div>
        </div>
        <div id="content">
            <div id="sidebar"><div class="padding">
                {% block sidebar %}
    {% if active_jams %}
        {% for jam in all_jams if jam.start_time > current_datetime %}
            <h1><a href="{{ jam.url() }}">{{ jam.title }}</a></h1>
            starts in {{ current_datetime | humandelta(jam.start_time) }}
            <hr />
        {% endfor %}

        {% for jam in all_jams if jam.start_time < current_datetime < jam.end_time %}
            <h1><a href="{{ jam.url() }}">{{ jam.title }}</a></h1>
            ends in {{ current_datetime | humandelta(jam.end_time) }}
            <hr />
        {% endfor %}

        {% for jam in all_jams if jam.end_time < current_datetime < jam.packaging_deadline %}
            <h1><a href="{{ jam.url() }}">{{ jam.title }}</a></h1>
            packaging ends in {{ current_datetime | humandelta(jam.packaging_deadline) }}
            <hr />
        {% endfor %}

        {% for jam in all_jams if jam.packaging_deadline < current_datetime < jam.rating_end%}
            <h1><a href="{{ jam.url() }}">{{ jam.title }}</a></h1>
            rating for another {{ current_datetime | humandelta(jam.rating_end) }}
            <hr />
        {% endfor %}
    {% else %}
        <h1>No Active Jams</h1>
    {% endif %}

    {% if inactive_jams %}
        <h1>{{ inactive_jams }} previous jam{% if inactive_jams != 1 %}s{% endif %}</h2>
        <ul class="sidebar">
        {% for jam in all_jams if jam.rating_end < current_datetime %}
            <li>
                <a href="{{ jam.url() }}">{{ jam.title }}</a>

            </li>
        {% endfor %}
    {% else %}
        <h1>No previous Jams</h1>
    {% endif %}

                {% endblock %}
            </div></div>
            <div id="page"><div class="padding">
                {% block content %}
                     NO CONTENT!
                {% endblock %}
            </div></div>
        </div>
        <div id="footer">
        </div>


        <ul id="flashes">
            {% for category, message in get_flashed_messages(with_categories = True) %}
                <li class="{{ category if category and category != 'message' else 'info' }}">{{ message }}</li>
            {% endfor %}
        </ul>
    </body>
</html>
