{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1>Contact</h1>
<div class="info">
    <p>Sven-Hendrik Haase &lt;sh@lutzhaase.com&gt;</p>
</div>

<a name="irc"></a><h2>IRC</h2>
<div class="info">
    <p>
        Meet us in IRC on <a href="http://webchat.freenode.net/?channels=bacongamejam" target="_blank">irc.freenode.org#bacongamejam</a>
    </p>
    <p>
        Most of us will be in the channel during the jams, but you can
        meet a few of us outside jamming time. Feel free to ask any
        questions about the jam, or just join to chat.
    </p>
</div>

{% endblock %}
