{% extends "base.html" %}

{% block title %}[{{ error.code }}] {{ error.name }}{% endblock %}

{% block content %}

<div class="error-page">
{% if error.code == 404 %}
    <div class="title">This is not the page you're looking for...</div>
    <div class="text">... 'cos we couldn't find it either.</div>
{% elif error.code == 403 %}
    <div class="title">Quick! Look somewhere else...</div>
    <div class="text">... this page is not for your eyes.</div>
{% else %}
    <div class="title">{{ error.code }}: {{ error.name }}</div>
    <div class="text">Something went wrong. Sorry!</div>
{% endif %}
</div>
<p style="font-size: 8pt; color: #666; text-align: right;">
Error {{ error.code }} - {{ error.name }}
</p>
{% endblock %}
