{% extends "base.html" %}

{% block title %}FAQ - Packaging{% endblock %}

{% block content %}
<h1>Packaging guide</h1>

<h2>Why packaging?</h2>

<div class="info">
    <p>
        What is packaging, why do I need to do that?
    </p>
</div>

<h2>Linux</h2>
<div class="info">
    <p>
        This is how it works.
        <code class="term">$ makepkg --source</code>
        Ah that's how.
    </p>
</div>

<h2>Windows</h2>
<div class="info">
    <p>
        How windows.
    </p>
</div>

{% endblock %}
