{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>BaconGameJam - Home</h1>

{% set counting = false %}
{% for jam in jams if jam.start_time < current_datetime < jam.end_time and not counting %}
    {% set counting = true %}
    {% block head %}
        <link href='http://fonts.googleapis.com/css?family=Wallpoet&v2' rel='stylesheet' type='text/css'>
    {% endblock %}
    <a href="{{ url_for('countdown', jam_slug = jam.slug) }}">
        {% set diff = jam.end_time - current_datetime %}
        <div class="home-countdown" time="{{ jam.end_time }}">
            <div class="text">{{ jam.title }} ends in</div>
            <div class="time">{{ diff | countdowndelta }}</div>
        </div>
    </a>
{% endfor %}

<div class="columns">
    <div> <!-- Column 1 -->
        <h2>About BaconGameJam</h2>
        <div class="info">
            <p>
                A game jam is an event during which all participants <b>create
                games</b> according to a provided theme <b>within a short amount of time</b>
                (usually between two days to a week). The BaconGameJam was founded
                as "RedditGameJam" on the wonderful
                <a href="http://reddit.com/r/redditgamejam" target="_blank">
                Reddit community</a>, and later renamed to 
                <a href="http://reddit.com/r/bacongamejam" target="_blank">BaconGameJam</a>due
                to trademark issues.
            </p>
            <p>
                <b>Anybody can participate</b>, experienced or newbie, flash developer or
                C hacker.
            </p>
            <p>
                The main goal of this game jam is to be a <b>learning experience</b> for
                everyone involved. There is nothing to win except for fame, comments
                and of course karma.
            </p>
            <p>
                Feel free to <a href="{{ url_for('register') }}">register and participate</a>, even
                if you are not on <a href="http://reddit.com" target="_blank">reddit</a>
                (but it wouldn't be to your disadvantage to
                check it out!). If you do have an account on reddit, you are strongly
                advised to link your BaconGameJam account with your reddit
                account by using the same nickname!
            </p>
            <p>
                More questions? Read the <a href="{{ url_for('faq') }}">FAQ</a>.
            </p>
        </div>
    </div>

    <div style="width: 30px"></div>

    <!-- Column 2 -->
    <div style="width: 50%">
        {% if active_count %}
        <h2>{{ active_count }} Active Jam{% if active_count != 1 %}s{% endif %}</h2>

        <ul class="jamlist">
        {# Jams that haven't started yet #}
        {% for jam in jams if jam.start_time > current_datetime %}
            <li>
                <a href="{{ jam.url() }}">{{ jam.title }}</a>
                announced for {{ jam.start_time.strftime("%Y-%m-%d %H:%M:%S") }}
                (in {{ current_datetime | humandelta(jam.start_time) }})
            </li>
        {% endfor %}

        {# Jams that are in progress #}
        {% for jam in jams if jam.start_time < current_datetime < jam.end_time %}
            <li>
                <a href="{{ jam.url() }}">{{ jam.title }}</a>
                is currently in progress! (ends in {{ current_datetime | humandelta(jam.end_time) }})
            </li>
        {% endfor %}

        {# Jams that have finished but are still in packaging period #}
        {% for jam in jams if jam.end_time < current_datetime < jam.packaging_deadline %}
            <li>
                <a href="{{ jam.url() }}">{{ jam.title }}</a>
                has finished and is in packaging phase (time left:
                {{ current_datetime | humandelta(jam.packaging_deadline) }})
            </li>
        {% endfor %}

        {# Jams that are in rating period #}
        {% for jam in jams if jam.packaging_deadline < current_datetime < jam.rating_end%}
            <li>
                <a href="{{ jam.url() }}">{{ jam.title }}</a>
                is in rating period for another {{ current_datetime | humandelta(jam.rating_end) }}
                <!-- TODO: Check this is possible in view -->
                <a href="{{ url_for('rate_entries', jam_slug = jam.slug) }}">Rate entries now</a>
            </li>
        {% endfor %}
        </ul>
        {% else %}
        <h2>No Active Jams</h2>
        <div class="info"><p>There are no active jams right now.</p></div>
        {% endif %}

        {% if inactive_count %}
        <h2>{{ inactive_count }} Previous Jam{% if inactive_count != 1 %}s{% endif %}</h2>
        <ul class="jamlist">
        {% for jam in jams if jam.rating_end < current_datetime %}
            <li>
                <a href="{{ jam.url() }}">{{ jam.title }}</a>
                from {{ jam.start_time | formattime }} to {{
                jam.end_time | formattime }}
                (length: {{ jam.end_time | humandelta(jam.start_time) }})
                show the {{ jam.entries.all() | length }} entries
            </li>
        {% endfor %}
        {% else %}
        <h2>No Previous Jams</h2>
        <div class="info"><p>There have not been any jams yet.</p></div>
        {% endif %}

        </ul>
    </div>
</div>
{% endblock %}
