{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Reddit Game Jam - Home</h1>
<h2>Active Jams</h2>
<ul>
{# Jams that haven't started yet #}
{% for jam in jams if jam.start_time > current_datetime %}
    <li>
        Jam <a href="{{ url_for('show_jam', jam_name=jam.short_name) }}">{{ jam.short_name }}</a>
        announced for {{ jam.start_time.strftime("%Y-%m-%d %H:%M:%S") }}
        (in {{ current_datetime | humandelta(jam.start_time) }})
    </li>
{% endfor %}

{# Jams that are in progress #}
{% for jam in jams if jam.start_time < current_datetime < jam.end_time %}
    <li>
        Jam <a href="{{ url_for('show_jam', jam_name=jam.short_name) }}">{{ jam.short_name }}</a>
        is currently in progress! (ends in {{ current_datetime | humandelta(jam.end_time) }})
    </li>
{% endfor %}

{# Jams that have finished but are still in packaging period #}
{% for jam in jams if jam.end_time < current_datetime < jam.packaging_deadline %}
    <li>
        Jam <a href="{{ url_for('show_jam', jam_name=jam.short_name) }}">{{ jam.short_name }}</a>
        has finished and is in packaging phase (time left: 
        {{ current_datetime | humandelta(jam.packaging_deadline) }})
    </li>
{% endfor %}

{# Jams that are in rating period #}
{% for jam in jams if jam.packaging_deadline < current_datetime < jam.rating_end%}
    <li>
        Jam <a href="{{ url_for('show_jam', jam_name=jam.short_name) }}">{{ jam.short_name }}</a>
        is in rating period for another {{ current_datetime | humandelta(jam.rating_end) }}
        <!-- TODO: Check this is possible in view -->
        <a href="{{ url_for('rate_entries', jam_name=jam.short_name) }}">Rate entries now</a>
    </li>
{% endfor %}
</ul>
<h2>Previous Jams</h2>
<ul>
{% for jam in jams if jam.rating_end < current_datetime %}
    <li>
        <a href="{{ url_for('show_jam', jam_name=jam.short_name) }}">{{ jam.short_name }}</a>
        from {{ jam.start_time | formattime }} to {{
        jam.end_time | formattime }} 
        (length: {{ jam.end_time | humandelta(jam.start_time) }})
        show the {{ jam.entries.all() | length }} entries
    </li>
{% endfor %}
</ul>

<h2>Stuff to do</h2>
<ul>
    {% if session.logged_in and session.is_admin %}
    <li><a href="{{ url_for('new_jam') }}">New Jam</a></li>
    {% endif %}
    <li><a href="{{ url_for('contact') }}">Contact</a></li>
</ul>
{% endblock %}
