{% extends "base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block content %}
<h2>Login</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

    <form action="{{ url_for('login') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="box" style="width: 400px; margin: 0 auto;">
            <h4>Login</h4>
            <div class="box-content">
                {{ form_errors(form) }}
                <table class="details">
                    <tr>
                        <th>{{ form.username.label }}</th>
                        <td>{{ form.username(class="text-input", style="width: 275px;") }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.password.label }}</th>
                        <td>{{ form.password(class="password-input", style="width: 275px;") }}</td>
                    </tr>
                </table>
            </div>
            <p class="form-buttons">
                <input type="submit" class="button default" value="Login">
            </p>
        </div>
    </form>

    <p align="center">
        <a href="{{ url_for('register') }}">Not registered yet?</a>
    </p>
{% endblock %}
