{% extends "base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block title %}Rating on {{ entry.jam.title }}{% endblock %}

{% block content %}
<h1>{{ entry.jam.title }} &raquo; Rating</h1>


<h2>Please rate: {{ entry.title }} by {{ entry.participant.getLink() }}</h2>

<div class="box">
    <div class="box-content">
        <form action="{{ url_for('rate_entries', jam_slug=jam.slug,
            action='submit_rating')}}" method="post">
            {{ rate_form.score_gameplay.label }}
            {{ rate_form.score_gameplay() }}
            {{ rate_form.score_graphics.label }}
            {{ rate_form.score_graphics() }}
            {{ rate_form.score_audio.label }}
            {{ rate_form.score_audio() }}
            {{ rate_form.score_innovation.label }}
            {{ rate_form.score_innovation() }}
            {{ rate_form.score_story.label }}
            {{ rate_form.score_story() }}
            {{ rate_form.score_technical.label }}
            {{ rate_form.score_technical() }}
            {{ rate_form.score_controls.label }}
            {{ rate_form.score_controls() }}
            {{ rate_form.score_overall.label }}
            {{ rate_form.score_overall() }}
            {{ rate_form.note.label }}
            {{ rate_form.note() }}
            <input type="submit" value="submit &raquo;" class="button" />
        </form>

        <ul style="margin-top: 5px;" class="tabs">
            <li><a href="{{ entry.jam.url() }}">&laquo; Back to the jam</a></li>
        </ul>

        <div style="clear: right;"></div>
    </div>
</div>

<div class="box">
    <div class="box-content">
        <form style="float: right;" action="{{ url_for('rate_entries',
            jam_slug=jam.slug,
            action='skip_rating')}}" method="post">
            {{ skip_form.reason.label }}
            {{ skip_form.reason() }}
            <input type="submit" value="skip &raquo;" class="button" />
        </form>

        <ul style="margin-top: 5px;" class="tabs">
            <li><a href="{{ entry.jam.url() }}">&laquo; Back to the jam</a></li>
        </ul>

        <div style="clear: right;"></div>
    </div>
</div>

<h2>Overview: Entries of this jam</h2>
<ul>
{% for e in jam.entries %}
    <li><a href="{{ e.url() }}">{{ e.title }}</a> {% if participant.id in e.rated_by
    %}rated{% endif %}{% if participant.id in e.skipped_by
    %}skipped{% endif %}</li>
{% endfor %}
</ul>
<p>Click to unskip</p>

{% endblock %}
