{% extends "base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block title %}Rating on {{ entry.jam.title }}{% endblock %}

{% block content %}
<h1>{{ entry.jam.title }} &raquo; Rating</h1>

<h2>You are rating: <a href="{{ entry.url() }}">{{ entry.title }}</a></h2>


<form action="{{ url_for('rate_entries', jam_slug=jam.slug, action='submit_rating')}}" method="post">
{{ rate_form.hidden_tag() }}

<div class="columns">
    <div class="box">
        <h4>Details</h4>
        <div class="box-content">
            <table class="details">
                <tr><th>Team</th><td>
                    <p>{{ entry.participant.getLink("author") }}</p>
                    {% for member in entry.team %}<p>{{ member.getLink() }}</p>{% endfor %}
                    </td></tr>
                <tr><th>Submitted</th><td>{{ entry.posted | humantime }}</td></tr>
                <tr><th>Description</th><td>{{ entry.description | markdown }}</td></tr>
            </table>
        </div>
        <h4 class="inner">Main Screenshot</h3>
        <div class="box-content">
            <div class="rating-details-screenshot-div">

                {% set s = entry.screenshots.first() %}
                <a class="rating-details-screenshot" href="{% if s %}{{s.url}}{% endif %}" target="_blank">
                    {% if s %}
                    <img src="{{ s.url }}" title="{{ entry.title }}: {{ s.caption }}" style="max-height: 120px; max-width: 160px;"/>
                    {% else %}
                    <img src="{{ url_for('static', filename = 'gfx/default-screenshot.png') }}" title="No screenshots submitted yet." width="160" height="120" />
                    {% endif %}
                </a>
            </div>
        </div>
        <h4 class="inner">Download</h3>
        <div class="box-content">
                {% for package in entry.packages %}
                <p>
                    {% if package.type in ["hg", "svn", "git"] %}
                    <b>{{ package.typeString() }}:</b> <span class="repo-url">{{ package.url }}</span>
                    {% else %}
                    <a href="{{ package.url }}">{{ package.typeString() }}</a>
                    {% endif %}
                </p>
                {% endfor %}
                {% if not entry.packages.all() %}
                    <p>No packages submitted.</p>
                {% endif %}
                <p class="warning"> Warning: Only you are responsible for the possible damages caused by downloading and executing the packages offered for download here.</p>
        </div>
    </div>

    <div class="columns-separator"></div>

    <div class="box">
        <h4>Rating</h4>
        <div class="box-content">
            <p>
                Here you can give up- and downvotes! <b>One point</b> is the worst and <b>ten points</b> the best you can give.
            </p>
            <p>
                <table class="details">
                    {% macro renderScoreField(icon, field) %}
                    <tr><th><span title="{{icon}}" class="icon-16 icon-16-{{icon}}"></span> {{ field.label }} </th><td>{{ field(class="text-input slider", size=1, style="text-align: center;") }}
                        </td></tr>
                    {% endmacro %}
                    {{ renderScoreField("gameplay",     rate_form.score_gameplay) }}
                    {{ renderScoreField("graphics",     rate_form.score_graphics) }}
                    {{ renderScoreField("audio",        rate_form.score_audio) }}
                    {{ renderScoreField("innovation",   rate_form.score_innovation) }}
                    {{ renderScoreField("story",        rate_form.score_story) }}
                    {{ renderScoreField("technical",    rate_form.score_technical) }}
                    {{ renderScoreField("controls",     rate_form.score_controls) }}
                    {{ renderScoreField("humor",        rate_form.score_humor) }}
                    {{ renderScoreField("rating",       rate_form.score_overall) }}

                    <tr><th>{{ rate_form.note.label }}</th><td>
                        {{ rate_form.note(class="text-input", size=44) }}
                        <div class="input-info">Optional, <b>not</b> parsed with markdown</div>
                        </td></tr>
                </table>
            </p>
        </div>

        <p style="margin: 20px; text-align: right;">
            <input type="submit" value="submit &raquo;" class="button default" />
        </p>
    </div>
</div>
</form>

<div class="box">
    <div class="box-content">
        {% if not is_skipped_entry %}
        <form style="float: right;" action="{{ url_for('rate_entries',
            jam_slug=jam.slug,
            action='skip_rating')}}" method="post">
            {{ skip_form.hidden_tag() }}
            {{ skip_form.reason.label }}
            {{ skip_form.reason() }}
            <input type="submit" value="skip &raquo;" class="button" />
        </form>
        {% else %}
        <p>
            You cannot skip this entry. You already skipped it, and no unskipped entries are left for you to rate.
            But you can <a href="#" class="refresh">refresh</a> this page and hope to randomly get an other entry.
        </p>
        {% endif %}

        <ul style="margin-top: 5px;" class="tabs">
            <li><a href="{{ entry.jam.url() }}">&laquo; Back to the jam</a></li>
            <li>
                Rating progress:
                {{ current_user.getRatingCount(jam) }} /
                {{ entry.jam.entries.all() | length }} rated,
                {{ current_user.getSkippedCount(jam) }} skipped,
                {{ my_entries }} created by you
            </li>
        </ul>

        <div style="clear: right;"></div>
    </div>
</div>

<h2>Overview: Entries of this jam</h2>
<ul>
    {% for e in jam.entries %}
        <li class="box floatingbox" style="width: 84px;">
            <h4><a href="{{ e.url() }}">{{ e.title }}</a></h4>

            <a href="{{ e.url() }}" class="entry-list-small-image">
                {% set s = e.screenshots.first() %}
                {% if s %}
                <img src="{{ s.url }}" title="{{ e.title }}: {{ s.caption }}" style="max-height: 60px; max-width: 80px;"/>
                {% else %}
                <img src="{{ url_for('static', filename = 'gfx/default-screenshot.png') }}" title="No screenshots submitted yet." width="80" height="60" />
                {% endif %}
            </a>
            <div class="entry-list-author">
                {% if current_user in e.team or current_user == e.participant %}
                <span class="icon-16 icon-16-rated"></span> <span style="color: #080">yours</span>
                {% elif current_user.skippedEntry(e) %}
                <span class="icon-16 icon-16-skipped"></span> <span style="color: #F90">skipped</span>
                {% elif current_user.ratedEntry(e) %}
                <span class="icon-16 icon-16-rated"></span> <span style="color: #080">rated</span>
                {% else %}
                <span class="icon-16 icon-16-pending"></span> <span style="color: #F00">pending</span>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>

{% endblock %}
