{% extends "base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block content %}
<h2>Reset</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

    <form action="{{ url_for('reset_request') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="box" style="width: 400px; margin: 0 auto;">
            <h4>Reset</h4>
            <div class="box-content">
                {{ form_errors(form) }}
                <table class="details">
                    <tr>
                        <th>{{ form.username.label }}</th>
                        <td>{{ form.username(class="text-input", style="width: 275px;") }}</td>
                    </tr>
                </table>
            </div>
            <p class="form-buttons">
                <input type="submit" class="button default" value="Reset">
            </p>
        </div>
    </form>
{% endblock %}
