{% extends "base.html" %}

{% block title %}Jam {{ jam.short_name }}{% endblock %}

{% block content %}
<h1>{{ jam.short_name }}</h1>

<div class="box">
    <h4>Status</h4>
    <div class="box-content">
        {{ jam.getStatus() }}
    </div>
</div>

<div class="box">
    <h4>Details</h4>
    <div class="box-content">
        <table class="details">
            <tr><th>Title</th><td>{{ jam.long_name }}</td></tr>
            <tr><th>Theme</th><td>{% if jam.theme %}{{ jam.theme }}{% else %}Not yet selected{% endif %}</td></tr>
            <tr><th>Announced</th><td>{{ jam.announced | humantime }} by &lt;author&gt;</td></tr>
            <tr><th>Time of jam</th><td>{{ jam.start_time | humantime }}</td></tr>
            <tr><th>Duration</th><td>{{ jam.start_time | humandelta(jam.end_time) }}</td></tr>
        </table>
    </div>
    {% if session.logged_in %}
    <p class="form-buttons">
        <a href="{{ url_for('new_entry', jam_name=jam.short_name) }}">New entry</a>
    </p>
    {% endif %}

</div>

<h2>Entries</h2>

{% if jam.entries.all() | length == 0 %}
    <p>There are no entries yet.</p>
{% else %}
    <ul>
        {% for entry in jam.entries %}
            <li class="box floatingbox">
                <h4><a href="{{ url_for('show_entry', jam_name=jam.short_name, entry_name=entry.name) }}">{{ entry.name }}</a> by 
                <a href="{{ url_for('show_participant',
                    username=entry.participant.username) }}">{{ entry.participant.username }}</a></h4>
                
                <div class="box-content">
                    lol screenshot here
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="clear"></div>
{% endif %}

{% endblock %}
