{% extends "base.html" %}

{% block title %}Jam {{ jam.title }}{% endblock %}

{% block content %}

{% set status = jam.getStatus() %}

{% set s = ["announced", "in progress", "packaging", "rating", "finished"][status.code] %}
{% set c = ["#600",      "#008",        "#F90",      "#8B0",   "#090"][status.code] %}
<div title="{{ jam.status }}" class="stamp" style="color: {{ c }}; border-color: {{ c }};">{{s}}</div>

<h1>{{ jam.title }}</h1>

{% if current_user %}
<p>
    <ul class="tabs">
        {% if status.code == 4 %}
        <li><a href="{{ url_for('rate_entries', jam_slug = jam.slug) }}">Show the winner</a></li>
        {% elif status.code == 2 or status.code == 1 %}
        <li><a href="{{ url_for('new_entry', jam_slug = jam.slug) }}">New entry</a></li>
        {% endif %}

        {% if status.code == 3 %}
        <li><a href="{{ url_for('rate_entries', jam_slug = jam.slug) }}">Rate the entries</a></li>
        {% endif %}

        {% if status.code <= 1 and current_user.is_admin %}
        <li><a href="{{ url_for('edit_jam', jam_slug = jam.slug) }}">Edit the jam</a></li>
        {% endif %}

        {% if current_user.is_admin %}
        <li><a href="{{ url_for('delete_jam', jam_slug = jam.slug) }}">Delete this jam</a></li>
        {% endif %}
    </ul>
</p>
{% if status.code == 0 %}
    <div class="info">
        <p>
            You will be able to create an entry here as soon as
            the jam starts.
        </p>
    </div>
    <br />
{% endif %}

{% endif %}


<div class="box">
    <h4>Details</h4>
    <div class="box-content">
        <table class="details">
            <tr><th>Title</th><td>{{ jam.title }}</td></tr>
            <tr><th>Theme</th><td>{% if jam.theme %}{{ jam.theme }}{% else %}Not yet selected{% endif %}</td></tr>
            <tr><th>Announced</th><td>{{ jam.announced | humantime }} by {{ jam.author.getLink() }}</a></td></tr>
            <tr><th>Time of jam</th><td>{{ jam.start_time | humantime }}</td></tr>
            <tr><th>Duration</th><td>{{ jam.start_time | humandelta(jam.end_time) }}</td></tr>
            <tr><th>Team jam</th><td>{{ jam.team_jam }}</td></tr>
            {% if status.code == 1 %}
            <tr><th>Time left</th><td>
                <a href="{{ url_for('countdown', jam_slug = jam.slug) }}">
                    <div class="mini-countdown" time="{{ jam.end_time }}">
                        <div class="time">{{ (jam.end_time - current_datetime) | countdowndelta }}</div>
                    </div>
                </a>
            </td></tr>
            {% endif %}
            {% if status.code == 2 or status.code == 3 %}
            <tr><th>Rating deadline</th><td>{{ jam.rating_end | humantime }}</td></tr>
            {% endif %}
        </table>
    </div>
</div>

<h2>Entries</h2>

{% if jam.getStatus().code != 4 %}

    {% if jam.entries.all() | length == 0 %}
        <p>There are no entries yet.</p>
    {% else %}
        <ul>
            {% for entry in jam.getShuffledEntries() %}
                <li class="box floatingbox" style="width: 164px;">
                    <h4><a href="{{ entry.url() }}">{{ entry.title }}</a></h4>

                    <a href="{{ entry.url() }}" class="entry-list-image">
                        {% set s = entry.screenshots[-1] %}
                        {% if s %}
                        <img src="{{ s.url }}" title="{{ entry.title }}: {{ s.caption }}" style="max-height: 120px; max-width: 160px;"/>
                        {% else %}
                        <img src="{{ url_for('static', filename = 'gfx/default-screenshot.png') }}" title="No screenshots submitted yet." width="160" height="120" />
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="clear"></div>
    {% endif %}
{% else %}


    {% if jam.entries.all() | length == 0 %}
        <p>Nobody participated in this jam. That's sad!</p>
    {% else %}
        <table class="ratings">
             <tr>
                <th>#</th>
                <th>Team</th>
                <th>Game title</th>
                <th class="score"><span class="icon-16 icon-16-gameplay"      title="gameplay"></span></th>
                <th class="score"><span class="icon-16 icon-16-graphics"      title="graphics"></span></th>
                <th class="score"><span class="icon-16 icon-16-audio"         title="audio"></span></th>
                <th class="score"><span class="icon-16 icon-16-innovation"    title="innovation"></span></th>
                <th class="score"><span class="icon-16 icon-16-story"         title="story"></span></th>
                <th class="score"><span class="icon-16 icon-16-technical"     title="technical"></span></th>
                <th class="score"><span class="icon-16 icon-16-controls"      title="controls"></span></th>
                <th class="score"><span class="icon-16 icon-16-humor"         title="humor"></span></th>
                <th class="score"><span class="icon-16 icon-16-rating"        title="overall"></span></th>
                <th class="total"><span class="icon-16 icon-16-average"        title="average"></span> Total</th>
            </tr>

            {% set i = 0 %}
            {% for entry in jam.getTopEntries() %}
            {% set i = i + 1 %}
            {% set a = entry.getAverageRating() %}
            <tr>
                <td class="rank">{{ i }}</td>
                <td>
                    {{ entry.participant.getLink("author") }}
                    {% for member in entry.team %}, {{ member.getLink() }}{% endfor %}
                </td>
                <td><a href="{{entry.url()}}">{{ entry.title }}</a></td>
                <td class="score">{{ "%.2f" % a["gameplay"]  }}</td>
                <td class="score">{{ "%.2f" % a["graphics"]  }}</td>
                <td class="score">{{ "%.2f" % a["audio"]     }}</td>
                <td class="score">{{ "%.2f" % a["innovation"]}}</td>
                <td class="score">{{ "%.2f" % a["story"]     }}</td>
                <td class="score">{{ "%.2f" % a["technical"] }}</td>
				<td class="score">{{ "%.2f" % a["controls"]  }}</td>
                <td class="score">{{ "%.2f" % a["humor"]  }}</td>
                <td class="score">{{ "%.2f" % a["overall"]   }}</td>

                {% set c = "#666" if i > 3 else ["#FFD700","#C0C0C0","#CD7F32"][i - 1] %}
                <td class="total">
                    {{ "%.2f" % entry.getTotalScore() }}
                    <span class="medal" style="background: {{c}}"></span>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endif %}

{% endblock %}
