{% extends "base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block title %}{{ entry.jam.title }} » {{ entry.title }}{% endblock %}

{% block content %}
<h1>
    {% if entry.jam.theme %}
        <div style="float: right;">
        Theme: <span class="theme">{{ entry.jam.theme }}</span>
        </div>
    {% endif %}
    {{ entry.title }}
</h1>

{% if entry.participant == current_user %}
<p>
    <ul class="tabs">
        <li><a href="{{ entry.url('edit') }}">Edit entry</a></li>
        {% if entry.jam.team_jam %}
            <li><a href="{{ entry.url('add_team_member') }}">Add team member</a></li>
        {% endif %}
        <li><a href="{{ entry.url('add_screenshot') }}">Add screenshot</a></li>
        <li><a href="{{ entry.url('add_package') }}">Add package</a></li>
    </ul>
</p>
{% elif current_user in entry.team %}
<p>
    <ul class="tabs">
        <li><a href="{{ entry.url('quit') }}">Quit the team</a></li>
    </ul>
</p>
{% endif %}

<div class="box">
    <h4>Details</h4>
    <div class="box-content">
        <table class="details">
            <tr><th>Team</th><td>
                <p>{{ entry.participant.getLink("author") }}</p>
                {% for member in entry.team %}
                    <p>
                        {{ member.getLink() }}
                        {% if current_user == entry.participant %}<a style="margin-left: 50px;" href="{{ entry.url('remove_team_member', remove_id = member.id) }}">Remove</a>{% endif %}
                    </p>
                {% endfor %}
                </td></tr>

            <tr><th>Jam</th><td><a href="{{ entry.jam.url() }}">{{ entry.jam.title }}</a>
                {% if entry.jam.theme %}<span class="theme">{{ entry.jam.theme }}</span>{% endif %}</td></tr>

            <tr><th>Submitted</th>
                <td>{{ entry.posted | humantime }}</td></tr>

            <tr><th>Description</th><td>
                    <div class="markdown">{{ entry.description | markdown }}</div>
                </td></tr>

            <tr><th>Packages{% if entry.packages.all() %} ({{ entry.packages.all() | length }}){% endif %}</th><td>
                {% for package in entry.packages %}
                <p>
                    {% if current_user == entry.participant %}
                    <a href="{{ entry.url('remove_package', remove_id = package.id) }}" style="float:right; margin-left: 20px;">Remove</a>
                    {% endif %}

                    {% if package.type in ["hg", "svn", "git"] %}
                    <b>{{ package.typeString() }}:</b> <a class="repo-url" href="{{ package.url }}">{{ package.url }}</a>
                    {% else %}
                    <a href="{{ package.url }}">{{ package.typeString() }}</a>
                    {% endif %}
                </p>
                {% endfor %}
                {% if not entry.packages.all() %}
                No packages submitted yet.
                {% endif %}
                </td></tr>
        </table>
        <p class="warning"> Warning: Only you are responsible for the possible damages caused by downloading and executing the packages offered for download here.</p>
    </div>
</div>

<div class="box">
    <h4>Screenshots <span style="font-size: 7pt; color: #666; font-weight: normal;">Click a screenshot to zoom</span></h4>
    <div class="box-content">
        {% if entry.screenshots.all() %}
        <ul class="screenshots">
        {% for screenshot in entry.screenshots|reverse %}
            <li>
                <a href="{{ screenshot.url }}" target="_blank" title="{{ screenshot.caption }}" class="screenshot">
                <div class="image"><img src="{{ screenshot.url }}" width="160" alt="{{ screenshot.caption }}" /></div>
                <div class="caption">
                    {{ screenshot.caption }}
                </div>
                </a>
                {% if current_user == entry.participant %}
                <a href="{{ entry.url('remove_screenshot', remove_id = screenshot.id) }}">Remove</a>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        {% else %}
        No screenshots yet.
        {% endif %}
    </div>
</div>

<h2>Detailed Ratings</h2>

<table class="ratings">
    <tr>
        <th>Participant</th>
        <th class="score"><span class="icon-16 icon-16-gameplay"      title="gameplay"></span></th>
        <th class="score"><span class="icon-16 icon-16-graphics"      title="graphics"></span></th>
        <th class="score"><span class="icon-16 icon-16-audio"         title="audio"></span></th>
        <th class="score"><span class="icon-16 icon-16-innovation"    title="innovation"></span></th>
        <th class="score"><span class="icon-16 icon-16-story"         title="story"></span></th>
        <th class="score"><span class="icon-16 icon-16-technical"     title="technical"></span></th>
        <th class="score"><span class="icon-16 icon-16-controls"      title="controls"></span></th>
        <th class="score"><span class="icon-16 icon-16-rating"        title="overall"></span></th>
        <th class="score"><span class="icon-16 icon-16-average"        title="average"></span></th>
        <th>Notes</th>
    </tr>
{% if entry.jam.getStatus().code != 4 %}

    {# check if the user has rated this entry #}
    {% set rating = entry.ratings.filter_by(participant = current_user).first() %}
    {% if rating %}
        <tr>
        <td>{{ rating.participant.getLink() }}</td>
        <td class="score">{{ rating.score_gameplay }}</td>
        <td class="score">{{ rating.score_graphics }}</td>
        <td class="score">{{ rating.score_audio }}</td>
        <td class="score">{{ rating.score_innovation }}</td>
        <td class="score">{{ rating.score_story }}</td>
        <td class="score">{{ rating.score_technical }}</td>
        <td class="score">{{ rating.score_controls }}</td>
        <td class="score">{{ rating.score_overall }}</td>
        <td class="score">{{ "%.2f" % rating.getAverage() }}</td>
        <td>{% if rating.text %}{{ rating.text }}{% else %}---{% endif %}</td>
    </tr>
    {% elif current_user %}
        <tr><td colspan="11">You have not yet rated this entry. <a href="{{ url_for('rate_entries', jam_slug = entry.jam.slug) }}">Start rating on this jam now.</a></td></tr>
    {% endif %}
    <tr><td colspan="11">The voting for this jam is not over, so other people's ratings are hidden.</td></tr>
{% else %}
{% if entry.ratings.all() %}
    {% set a = entry.getAverageRating() %}
    <tr class="average">
        <td>Average</td>
        <td class="score">{{ "%.2f" % a["gameplay"]  }}</td>
        <td class="score">{{ "%.2f" % a["graphics"]  }}</td>
        <td class="score">{{ "%.2f" % a["audio"]     }}</td>
        <td class="score">{{ "%.2f" % a["innovation"]}}</td>
        <td class="score">{{ "%.2f" % a["story"]     }}</td>
        <td class="score">{{ "%.2f" % a["technical"] }}</td>
        <td class="score">{{ "%.2f" % a["controls"]  }}</td>
        <td class="score">{{ "%.2f" % a["overall"]   }}</td>
        <td class="score">{{ "%.2f" % a["average"]   }}</td>
        <td></td>
    </tr>
    {% for rating in entry.ratings %}
    <tr>
        <td>{{ rating.participant.getLink() }}</td>
        <td class="score">{{ rating.score_gameplay }}</td>
        <td class="score">{{ rating.score_graphics }}</td>
        <td class="score">{{ rating.score_audio }}</td>
        <td class="score">{{ rating.score_innovation }}</td>
        <td class="score">{{ rating.score_story }}</td>
        <td class="score">{{ rating.score_technical }}</td>
        <td class="score">{{ rating.score_controls }}</td>
        <td class="score">{{ rating.score_overall }}</td>
        <td class="score">{{ "%.2f" % rating.getAverage() }}</td>
        <td>{% if rating.text %}{{ rating.text }}{% else %}---{% endif %}</td>
    </tr>
    {% endfor %}
{% else %}
    <tr><td colspan="11">There are no ratings yet.</td></tr>
{% endif %}
{% endif %}
</table>

{% if entry.ratings.filter_by(participant = current_user).first() and entry.jam.getStatus().code == 3 %}
    <p><a href="{{ url_for('reset_vote', jam_slug = entry.jam.slug, entry_slug = entry.slug) }}">Click here if you want to reset your vote for this entry</a>. You will have
    to start the voting process again to be prompted for your vote for
    this entry.</p>
{% endif %}


<h2>Comments</h2>
    {% if entry.comments.all() %}
    <p>
    <ul class="comments">
    {% for comment in entry.comments %}
        <li>
            <div class="icon">
                <a href="{{ comment.participant.url() }}">
                    <img src="{{ comment.participant.getAvatar(32) }}" width="32" height="32"/>
                </a>
            </div>
            <div class="meta">
                <a class="author" href="{{ comment.participant.url() }}">{{ comment.participant.username }}</a>
                said <span class="posted" title="{{ comment.posted | formattime }}">{{ comment.posted | humantime }}</span>:
            </div>
            <div class="text markdown">
                {{ comment.text | markdown }}
            </div>
            <div style="clear: left;"></div>
        </li>
    {% endfor %}
    </ul>
    </p>
    {% else %}
    <p>No comments yet.</p>
    {% endif %}

    {% if current_user %}
    <form action="{{ entry.url('new_comment') }}" method=post>
    <div class="box" style="width: 540px;">
        <h4>Write a comment</h4>
        <div class="box-content">
            {{ form_errors(form) }}
            {{ form.hidden_tag() }}
            {{ form.text() }}
            <div class="input-info">Please don't use the comments to judge the work before the voting period is over. This shall allow everyone to rate this entry freely and unbiased.</div>
            <div class="input-info"><b>Parsed with markdown.</b></div>
        </div>
        <p class="form-buttons">
            <input type="submit" value="Post comment" class="button">
        </p>
    </div>
    </form>
    {% endif %}
{% endblock %}
