{% extends "base.html" %}

{% block title %}Participants » {{ participant.username }}{% endblock %}

{% block content %}
<h1>{{ participant.username }}</h1>

<div style="float: left;">
    <img class="icon big" width="64" height="64" src="{{ participant.getAvatar(64) }}" />
</div>

{% macro entrylist(list) %}
<table class="details">
    {% for entry in list %}
    <tr><th>
        <a href="{{ entry.jam.url() }}">{{ entry.jam.title }}</a>
    </th><td>
        <a href="{{ entry.url() }}">{{ entry.title }}</a>
        {% if entry.jam.getStatus().code == 4 %}
        <span class="rankinfo" title="Rank {{ entry.getRank() }} of {{ entry.jam.entries.all() | length }} with a score of {{ '%.2f' % entry.getTotalScore() }}">
            <span class="rank">{{ entry.getRank() }}</span>
            {{ "%.2f" % entry.getTotalScore() }}
        </span>
        {% endif %}
    </td></tr>
    {% endfor %}
</table>
{% endmacro %}

<div style="margin-left: 80px">
    <div class="columns">
        <div class="box">
            <h4>Entries as author</h4>
            <div class="box-content">
                {{ entrylist(participant.entries) }}
                {% if not participant.entries.all() %}
                    {{ participant.username.capitalize() }} has not created any entries.
                {% endif %}
            </div>
        </div>

        <div class="columns-separator"></div>

        <div class="box">
            <h4>Entries as team member</h4>
            <div class="box-content">
                {{ entrylist(participant.team_entries) }}

                {% if not participant.team_entries %}
                    {{ participant.username.capitalize() }} has not participated as a team member.
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
