{% extends "base.html" %}

{% block title %}Jam {{ jam.title }}{% endblock %}

{% block content %}
<h1>{{ jam.title }}</h1>

<div class="box">
    <h4>Status</h4>
    <div class="box-content">
        {{ jam.getStatus() }}
    </div>
</div>

<div class="box">
    <h4>Details</h4>
    <div class="box-content">
        <table class="details">
            <tr><th>Title</th><td>{{ jam.title }}</td></tr>
            <tr><th>Theme</th><td>{% if jam.theme %}{{ jam.theme }}{% else %}Not yet selected{% endif %}</td></tr>
            <tr><th>Announced</th><td>{{ jam.announced | humantime }} by {{ jam.author.getLink() }}</a></td></tr>
            <tr><th>Time of jam</th><td>{{ jam.start_time | humantime }}</td></tr>
            <tr><th>Duration</th><td>{{ jam.start_time | humandelta(jam.end_time) }}</td></tr>
        </table>
    </div>
    {% if session.logged_in %}
        {% set status = jam.getStatus() %}
        <p class="form-buttons">
            {% if status.code == 3 %}
            <a href="{{ url_for('rate_entries', jam_slug = jam.slug) }}">Rate the entries</a>
            {% elif status.code == 5 %}
            <a href="{{ url_for('rate_entries', jam_slug = jam.slug) }}">Show the winner</a>
            {% else %}
            <a href="{{ url_for('new_entry', jam_slug = jam.slug) }}">New entry</a>
            {% endif %}
        </p>
    {% endif %}

</div>

<h2>Entries</h2>

{% if jam.entries.all() | length == 0 %}
    <p>There are no entries yet.</p>
{% else %}
    <ul>
        {% for entry in jam.entries %}
            <li class="box floatingbox">
                <h4><a href="{{ entry.url() }}">{{ entry.title }}</a> by
                {{ entry.participant.getLink() }}</h4>

                <div class="box-content">
                    lol screenshot here
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="clear"></div>
{% endif %}

{% endblock %}
