{% extends "base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block title %}{{ entry.jam.title }} » {{ entry.title }}{% endblock %}

{% block content %}
<h1>{{ entry.jam.title }} &raquo; {{ entry.title }}</h1>

{% if entry.participant.username == session.username %}
<p>
    <ul class="tabs">
        <li><a href="{{ entry.url('edit') }}">Edit entry</a></li>
        <li><a href="{{ entry.url('add_screenshot') }}">Add screenshot</a></li>
        <li><a href="{{ entry.url('add_package') }}">Add package</a></li>
    </ul>
</p>
{% endif %}

<div class="box">
    <h4>Details</h4>
    <div class="box-content">
        <table class="details">
            <tr><th>Author</th><td>{{ entry.participant.getLink() }}</td></tr>

            <tr><th>Jam</th><td><a href="{{ entry.jam.url() }}">{{ entry.jam.title }}</a></td></tr>

            <tr><th>Submitted</th>
                <td>{{ entry.posted | humantime }}</td></tr>

            <tr><th>Description</th><td>
                    {{ entry.description | markdown }}
                </td></tr>

            <tr><th>Packages{% if entry.packages.all() %} ({{ entry.packages.all() | length }}){% endif %}</th><td>
                {% for package in entry.packages %}
                    {% if package.type in ["hg", "svn", "git"] %}
                    <p>{{ package.typeString() }}: <span class="repo-url">{{ package.url }}</span></p>
                    {% else %}
                    <p><a href="{{ package.url }}">{{ package.typeString() }}</a></p>
                    {% endif %}
                {% endfor %}
                {% if not entry.packages.all() %}
                No packages submitted yet.
                {% endif %}
                </td></tr>
        </table>
    </div>
</div>

<div class="box">
    <h4>Screenshots</h4>
    <div class="box-content">
        {% for screenshot in entry.screenshots %}
        {{ screenshot.url }}
        {% endfor %}
        {% if not entry.screenshots.all() %}
        No screenshots yet.
        {% endif %}
    </div>
</div>

<h2>Ratings</h2>

{% if entry.ratings.all() %}
<table class="ratings">
    <tr>
        <th>Participant</th>
        <th class="score"><span class="icon-16 icon-16-gameplay"      title="gameplay"></span></th>
        <th class="score"><span class="icon-16 icon-16-graphics"      title="graphics"></span></th>
        <th class="score"><span class="icon-16 icon-16-audio"         title="audio"></span></th>
        <th class="score"><span class="icon-16 icon-16-innovation"    title="innovation"></span></th>
        <th class="score"><span class="icon-16 icon-16-story"         title="story"></span></th>
        <th class="score"><span class="icon-16 icon-16-technical"     title="technical"></span></th>
        <th class="score"><span class="icon-16 icon-16-controls"      title="controls"></span></th>
        <th class="score"><span class="icon-16 icon-16-rating"        title="overall"></span></th>
        <th>posted</th>
        <th>Notes</th>
    </tr>
    {% set a = entry.getAverageRating() %}
    <tr class="average">
        <td>Average</td>
        <td class="score">{{ "%.2f" % a["gameplay"]  }}</td>
        <td class="score">{{ "%.2f" % a["graphics"]  }}</td>
        <td class="score">{{ "%.2f" % a["audio"]     }}</td>
        <td class="score">{{ "%.2f" % a["innovation"]}}</td>
        <td class="score">{{ "%.2f" % a["story"]     }}</td>
        <td class="score">{{ "%.2f" % a["technical"] }}</td>
        <td class="score">{{ "%.2f" % a["controls"]  }}</td>
        <td class="score">{{ "%.2f" % a["overall"]   }}</td>
        <td></td>
        <td></td>
    </tr>
    {% for rating in entry.ratings %}
    <tr>
        <td>{{ rating.participant.getLink() }}</td>
        <td class="score">{{ rating.score_gameplay }}</td>
        <td class="score">{{ rating.score_graphics }}</td>
        <td class="score">{{ rating.score_audio }}</td>
        <td class="score">{{ rating.score_innovation }}</td>
        <td class="score">{{ rating.score_story }}</td>
        <td class="score">{{ rating.score_technical }}</td>
        <td class="score">{{ rating.score_controls }}</td>
        <td class="score">{{ rating.score_overall }}</td>
        <td class="time">{{ rating.posted | humantime }}</td>
        <td>{% if rating.text %}{{ rating.text }}{% else %}---{% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>There are no ratings yet.</p>
{% endif %}

<h2>Comments</h2>
    {% if entry.comments.all() %}
    <p>
    <ul class="comments">
    {% for comment in entry.comments %}
        <li>
            <div class="icon">
                <a href="{{ comment.participant.url() }}">
                    <img src="{{ comment.participant.getAvatar(32) }}" width="32" height="32"/>
                </a>
            </div>
            <div class="meta">
                <a class="author" href="{{ comment.participant.url() }}">{{ comment.participant.username }}</a>
                said <span class="posted" title="{{ comment.posted | formattime }}">{{ comment.posted | humantime }}</span>:
            </div>
            <div class="text">
                {{ comment.text | markdown }}
            </div>
            <div style="clear: left;"></div>
        </li>
    {% endfor %}
    </ul>
    </p>
    {% else %}
    <p>No comments yet.</p>
    {% endif %}

    {% if session.logged_in %}
    <form action="{{ entry.url('new_comment') }}" method=post>
    <div class="box" style="width: 540px;">
        <h4>Write a comment</h4>
        <div class="box-content">
            {{ form_errors(form) }}
            {{ form.hidden_tag() }}
            {{ form.text() }}
            <div class="input-info">Parsed with markdown</div>
        </div>
        <p class="form-buttons">
            <input type="submit" value="Post comment" class="button">
        </p>
    </div>
    </form>
    {% endif %}
{% endblock %}
