{% extends "base.html" %}

{% block title %}Statistics{% endblock %}

{% block content %}
<h1>Statistics</h1>

<h2>General</h2>
<div class="box">
    <div class="box-content">
        <table class="details">
            <tr><th>Total Jams</th>
                <td>{{ stats["total_jams"] }} jams</td></tr>

            <tr><th>Registered Users</th>
                <td>{{ stats["total_users"] }} users</td></tr>

            <tr><th>Average users per jam</th>
                <td>{{ "%.2f" % stats["average_users"] }} users per jam</td></tr>

            <tr><th>Most users per jam</th>
                <td>{{ stats["most_users"] }} users
                {% if stats['most_users_jam'] %}
                in <a href="{{ stats['most_users_jam'].url() }}">{{ stats["most_users_jam"].title }}</a>
                {% endif %}
                </td></tr>

            <tr><th>Total Entries</th>
                <td>{{ stats["total_entries"] }} entries</td></tr>

            <tr><th>Average entries per jam</th>
                <td>{{ "%.2f" % stats["average_entries"] }} entries per jam</td></tr>

            <tr><th>Most entries per jam</th>
                <td>{{ stats["most_entries_per_jam"] }} entries
                {% if stats['most_entries_jam'] %}
                in <a href="{{ stats['most_entries_jam'].url() }}">{{ stats["most_entries_jam"].title }}</a>
                {% endif %}
                </td></tr>

            <tr><th>Average team size</th>
                <td>{{ "%.2f" % stats["average_team_size"] }} team members</td></tr>

            <tr><th>Biggest team</th>
                <td>{{ stats["biggest_team_size"] }} team members
                {% if stats['biggest_team_entry'] %}
                made <a href="{{ stats['biggest_team_entry'].url() }}">{{ stats["biggest_team_entry"].title }}</a>
                {% endif %}
                </td></tr>
        </table>
    </div>
</div>

<h2>Hall of fame</h2>
<div class="box">
    <div class="box-content">
        <table class="details">
            <tr><th>Best rated entries</th><td>
                {% if not stats['best_entries'] or stats["best_entries"][0].getTotalScore() == 0 %}
                    <p>There are no rated entries yet.</p>
                {% else %}
                {% for n in [0,1,2] if stats['best_entries'][n] %}
                <p>
                    Score {{ "%.2f" % stats["best_entries"][n].getTotalScore() }}:
                    <a href="{{ stats['best_entries'][n].url() }}">
                        {{ stats["best_entries"][n].jam.title }} &raquo;
                        {{ stats["best_entries"][n].title }}
                    </a>
                </p>
                {% endfor %}
                {% endif %}
                </td></tr>
            <tr><th>User with most entries</th><td>
                {% if not stats['user_most_entries'] or stats["user_most_entries"][0].getTotalEntryCount() == 0 %}
                    <p>Nobody has entries yet.</p>
                {% else %}
                {% for n in [0,1,2] if stats['user_most_entries'][n] %}
                <p>
                    {{ stats["user_most_entries"][n].getLink() }}
                    with {{ stats["user_most_entries"][n].getTotalEntryCount() }} entries
                </p>
                {% endfor %}
                {% endif %}
                </td></tr>
        </table>
    </div>
</div>

{% endblock %}
