{% extends "base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block content %}
<h1>Verify your account</h1>


<div class="info">
    {% if submitted %}
        {# must be invalid, otherwise we're redirected #}
        <p style="color: red;">
            Sorry, your validation failed. If you have posted your hash, press
            the button again in a few seconds. It might take a while for reddit
            to submit your comment. If you haven't posted it, read the
            steps below and follow them. (This error also occurs if reddit
            is down. You might want to check that, too.)
        </p>
        <hr />
    {% endif %}

    <p>
        To make sure your username is correct we ask you to verify it by
        posting in a special thread on reddit with your account. Please
        follow these steps (<span style="color: red;">read all steps first!</span>):

        <ol>
            <li>Visit the <a href="{{ thread }}" target="_blank">verification thread</a> on reddit</li>
            <li>Paste your verification code (and only the verification code) as a top-level reply in the
                thread. Your verification code is: <b>{{ participant_to_verify.getVerificationHash() }}</b>.
                Make sure to use the same account name as here!</li>
            <li>Return here and click the button below.</li>
            <li>When your verification was successful, <b>please remove your comment</b> from the thread to keep
                it clean.</li>
        </ol>

        <form action="{{ url_for('verify', username = participant_to_verify.username ) }}" method="post">
            {{ form.hidden_tag() }}
            <input type="submit" value="Ok, I posted that hash. Now go on!" />
        </form>
    </p>
</div>
</form>
{% endblock %}
