SQLALCHEMY_DATABASE_URI = 'sqlite:////tmp/flamejam.db'
SQLALCHEMY_ECHO = False
SECRET_KEY = 'SUPERSECRET'

# See http://packages.python.org/Flask-Mail/
#MAIL_SERVER = 'localhost'
#MAIL_PORT = 25
#MAIL_USE_TLS = False
#MAIL_USE_SSL = False
#MAIL_DEBUG = app.debug
#MAIL_USERNAME = None
#MAIL_PASSWORD = None
#DEFAULT_MAIL_SENDER = None
#DEFAULT_MAX_EMAILS = None
#MAIL_FAIL_SILENTLY = True
#MAIL_SUPPRESS_SEND = False
