{% set jam = game.jam %}
{% extends "jam/base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block title %}{{ game.jam.title }} » {{ game.title }}{% endblock %}

{% block subbreadcrumb %}
    <li><a href="{{ game.url() }}">{{ game.title }}</a></li>
{% endblock %}

{% block content %}

<h1>
    {{ game.title }}

    {% if current_user.is_authenticated() and current_user.inTeam(game.team) %}
        <a href="{{ url_for('edit_game', jam_slug = game.jam.slug, game_slug = game.slug) }}" class="btn btn-primary btn-normal pull-right">Edit game</a>
    {% endif %}
</h1>

<div class="row-fluid">
    <div class="span4">
        <h2>Details</h2>
        <table class="details">
            <tr><th>Team</th><td>
                {{ game.team.name }} <a href="{{ game.team.url() }}">show »</a>
                </td></tr>

            <tr><th>Jam</th><td>{{ game.jam.getLink() }}</td></tr>

            <tr><th>Submitted</th><td>{{ game.created | humantime }}</td></tr>
        </table>
    </div>
    <div class="span4">
        <h2>Description</h2>
        {{ (game.description or "*This game has no description.*") | markdown }}

        {% if game.technology %}
            <h2>Technology used</h2>
            {{ game.technology | markdown }}
        {% endif %}
    </div>
    <div class="span4">
        <h2>Download</h2>
        {% if game.packages.count() %}
            {% for package in game.packages %}
                {{ package.getLink() }}
            {% endfor %}
        {% else %}
            <p>There are no packages available yet.</p>
            {% if current_user.is_authenticated() in game.team.members %}
                <a href="{{ url_for('edit_game', jam_slug = game.jam.slug, game_slug = game.slug) }}" class="btn btn-mini">Upload a package</a>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="row-fluid">
    <div class="span8">
        {% if game.screenshots.count() %}
        <h2>Screenshots <small>Click a screenshot to zoom</small></h2>
        <ul class="screenshots">
        {% for screenshot in game.screenshotsOrdered %}
            <li>
                <a href="{{ screenshot.url }}" target="_blank" title="{{ screenshot.caption }}" class="screenshot">
                <div class="image"><img src="{{ screenshot.url }}" alt="{{ screenshot.caption }}" /></div>
                </a>
            </li>
        {% endfor %}
        </ul>
        {% endif %}

        <h2>Feedback</h2>

        {% if game.jam.getStatus().code != 5 %}
            <p class="alert alert-info">The voting for this jam is not over, so other people's ratings are hidden.</p>
        {% endif %}

        <table class="ratings tabular">
            <tr>
                <th>User</th>
                <th class="score"><span class="icon-16 icon-16-gameplay"      title="gameplay"></span></th>
                <th class="score"><span class="icon-16 icon-16-graphics"      title="graphics"></span></th>
                <th class="score"><span class="icon-16 icon-16-audio"         title="audio"></span></th>
                <th class="score"><span class="icon-16 icon-16-innovation"    title="innovation"></span></th>
                <th class="score"><span class="icon-16 icon-16-story"         title="story"></span></th>
                <th class="score"><span class="icon-16 icon-16-technical"     title="technical"></span></th>
                <th class="score"><span class="icon-16 icon-16-controls"      title="controls"></span></th>
                <th class="score"><span class="icon-16 icon-16-rating"        title="overall"></span></th>
                <th class="score"><span class="icon-16 icon-16-average"       title="average"></span></th>
                <th>Notes</th>
            </tr>

        {% if game.jam.getStatus().code != 5 %}

            {# check if the user has rated this game #}
            {% set rating = game.ratings.filter_by(user_id = current_user.get_id()).first() %}
            {% if rating %}
            <tr>
                <td>{{ rating.user.getLink() }}</td>
                <td class="score">{{ rating.score_gameplay }}</td>
                <td class="score">{{ rating.score_graphics }}</td>
                <td class="score">{{ rating.score_audio }}</td>
                <td class="score">{{ rating.score_innovation }}</td>
                <td class="score">{{ rating.score_story }}</td>
                <td class="score">{{ rating.score_technical }}</td>
                <td class="score">{{ rating.score_controls }}</td>
                <td class="score">{{ rating.score_overall }}</td>
                <td class="score">{{ "%.2f" % rating.getAverage() }}</td>
                <td>{% if rating.text %}{{ rating.text }}{% else %}---{% endif %}</td>
            </tr>
            {% elif current_user.is_authenticated() %}
                <tr><td colspan="11" style="text-align: center;"><a href="#TODO" class="btn btn-small">Rate Game</a></td></tr>
            {% endif %}
        {% elif game.ratings.all() %}
                {% set a = game.getAverageRating() %}
                <tr class="average">
                    <td>Average</td>
                    <td class="score">{{ "%.2f" % a["gameplay"]  }}</td>
                    <td class="score">{{ "%.2f" % a["graphics"]  }}</td>
                    <td class="score">{{ "%.2f" % a["audio"]     }}</td>
                    <td class="score">{{ "%.2f" % a["innovation"]}}</td>
                    <td class="score">{{ "%.2f" % a["story"]     }}</td>
                    <td class="score">{{ "%.2f" % a["technical"] }}</td>
                    <td class="score">{{ "%.2f" % a["controls"]  }}</td>
                    <td class="score">{{ "%.2f" % a["overall"]   }}</td>
                    <td class="score">{{ "%.2f" % a["average"]   }}</td>
                    <td></td>
                </tr>
                {% for rating in game.ratings %}
                <tr>
                    <td>{{ rating.user.getLink() }}</td>
                    <td class="score">{{ rating.score_gameplay }}</td>
                    <td class="score">{{ rating.score_graphics }}</td>
                    <td class="score">{{ rating.score_audio }}</td>
                    <td class="score">{{ rating.score_innovation }}</td>
                    <td class="score">{{ rating.score_story }}</td>
                    <td class="score">{{ rating.score_technical }}</td>
                    <td class="score">{{ rating.score_controls }}</td>
                    <td class="score">{{ rating.score_overall }}</td>
                    <td class="score">{{ "%.2f" % rating.getAverage() }}</td>
                    <td>{% if rating.text %}{{ rating.text }}{% else %}---{% endif %}</td>
                </tr>
                {% endfor %}
        {% else %}
            <tr><td colspan="11">There are no ratings yet.</td></tr>
        {% endif %}
        </table>

        {% if game.ratings.filter_by(user_id = current_user.get_id()).first() and game.jam.getStatus().code == 4 %}
            <p><a href="{{ url_for('reset_vote', jam_slug = game.jam.slug, game_slug = game.slug) }}">Click here if you want to reset your vote for this game</a>. You will have
            to start the voting process again to be prompted for your vote for
            this game.</p>
        {% endif %}
    </div>
    <div class="span4">
        <h2>Comments</h2>
        {% if game.comments.all() %}
        <p>
        <ul class="comments">
        {% for comment in game.comments %}
            <li>
                <div class="icon">
                    <a href="{{ comment.user.url() }}">
                        <img src="{{ comment.user.getAvatar(32) }}" width="32" height="32"/>
                    </a>
                </div>

                <div class="meta">
                    <a class="author" href="{{ comment.user.url() }}">{{ comment.user.username }}</a>
                    (<span class="posted" title="{{ comment.posted | formattime }}">{{ comment.posted | humantime }}</span>)
                </div>
                <div class="text markdown">
                    {{ (comment.text) | markdown }}
                </div>
            </li>
        {% endfor %}
        </ul>
        </p>
        {% else %}
        <p>No comments yet.</p>
        {% endif %}

        {% if current_user.is_authenticated() %}
        <form action="#TODO:new_comment" method="POST">
                {{ form_errors(form) }}
                {{ form.hidden_tag() }}
                {{ form.text(class="comment", rows = 4) }}
                <!-- <p>Please don't use the comments to judge the work before the voting period is over.
                This shall allow everyone to rate this game freely and unbiased.</p>
                <b>Parsed with markdown.</b> -->
            <p style="text-align: right;">
                <input type="submit" value="Post comment" class="btn btn-primary">
            </p>
        </div>
        </form>
        {% else %}
        <a href="{{ url_for('login', next = request.url) }}">Log in or register</a> to post a comment.
        {% endif %}
    </div>
</div>
{% endblock %}
