{% extends "emails/base.html" %}

{% block content %}
<a href="{{ team.jam.url(_external=True) }}"><h2>{{ sender.username }} invites you to their team</h2></a>

<p>
    Howdy, {{ recipient.username }}!
</p>
<p>
    You have been invited to the team <a href="{{ team.url(_external = True) }}">{{ team.name }}</a>
    by your fellow baconeer <a href="{{ sender.url(_external = True) }}">{{ sender.username }}</a>.
    This is a team for the game jam <b>{{ team.jam.title }}</b>.
</p>
<p>
    You can accept or decline that invitation by <a href="{{ invitation.url() }}">clicking here</a> or using the following link:
</p>
<p style="text-align: center; font-size: 1.4em">
    <a href="{{ invitation.url() }}">{{ invitation.url() }}</a>
</p>
<p>
    You can see details about the team, including a list of members, on the
    <a href="{{ team.url(_external = True) }}">team details page</a>.
</p>
<p>
    Please notice that by accepting the invitation you will leave your current
    team. If you were the last member of that team, <b style="color: red;">it will be deleted</b>, including
    all games, comments and other team-related data.
</p>
<p>
    If you are not yet registered for this jam, you will be registered when accepting the invitation.
</p>
<p>
    <i>The BaconGameJam Staff</i>
</p>
{% endblock %}
