@import url("flags.css");
@import url("bootstrap.min.css");

body {
    color: #333;
    background: #f7f7f7;

    font-family: "DejaVu Sans Condensed", "DejaVu Sans", Verdana, Arial, sans-serif;
    /* font-family: Verdana, Arial, sans-serif; */
    font-size: 9pt;
    margin: 0;
    padding: 0;
}

#header {
    height: 40px;
    line-height: 40px;
    background: #F0F0F0;
    border-bottom: 1px solid #CCC;
}

#header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#header ul li {
    display: inline-block;
    margin: 0 20px;
}

#header ul li a {
    font-size: 12pt;
    color: #AAA;
    text-decoration: none;
}

#header ul li a:hover {
    color: #444;
}

#content {
    padding: 20px;
}

h1 {
    font-size: 20pt;
    font-weight: normal;
    margin-top: 0;
    color: #888;
}

a {
    color: #00F;
    text-decoration: none;
}

a:hover {
    color: #008;
}

table {
    border-collapse: collapse;
    border: 1px solid #CCC;
}

th, td {
    background: #EEE;
    border: 1px solid #CCC;
    border-width: 1px 0;
    padding: 3px 12px;
    text-align: left;
}

td {
    background: #F6F6F6;
}

.on td {
    background: #FF9;
}

textarea,
input[type="text"],
input[type="number"] {
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 3px 2px 5px #EEE inset;
}

:focus {
    outline: 0;
}

#flashes {
    margin: 0;
    padding: 0;
    list-style: none;
}

#flashes li {
    display: block;
    background: #222;
    padding: 5px 10px;
    margin: 10px 0;
    box-shadow: 0 0  #000;
    font-weight: normal;
    border: 1px solid #CCC;
}

p.error, p.info, p.success, p.warning {
    border-width: 1px;
    border-style: solid;
    padding: 5px;
}

.error {
    border-color: #F00 !important;
    color: #F00 !important;
    background: #FAA !important;
}

.info {
    border-color: #00A !important;
    color: #00A !important;
    background: #ACF !important;
}

.success {
    border-color: #080 !important;
    color: #080 !important;
    background: #AF8 !important;
}

.warning {
    border-color: #F90 !important;
    color: #A60 !important;
    background: #FF8 !important;
}

form .field {
    margin-bottom: 20px;
}

form .field label {
    display: block;
    font-weight: bold;
}

form .field textarea,
form .field input {
    width: 100%;
}

form .field textarea.half,
form .field input.half {
    width: 50%;
}

.form-info {
    color: #888;
}
