.flag {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 11px;
    margin-right: 2px;
    background: url("../gfx/flags/unknown.png") center center no-repeat;
}

.flag.ad { background-image: url("../gfx/flags/ad.png"); }
.flag.ae { background-image: url("../gfx/flags/ae.png"); }
.flag.af { background-image: url("../gfx/flags/af.png"); }
.flag.ag { background-image: url("../gfx/flags/ag.png"); }
.flag.ai { background-image: url("../gfx/flags/ai.png"); }
.flag.al { background-image: url("../gfx/flags/al.png"); }
.flag.am { background-image: url("../gfx/flags/am.png"); }
.flag.an { background-image: url("../gfx/flags/an.png"); }
.flag.ao { background-image: url("../gfx/flags/ao.png"); }
.flag.ar { background-image: url("../gfx/flags/ar.png"); }
.flag.as { background-image: url("../gfx/flags/as.png"); }
.flag.at { background-image: url("../gfx/flags/at.png"); }
.flag.au { background-image: url("../gfx/flags/au.png"); }
.flag.aw { background-image: url("../gfx/flags/aw.png"); }
.flag.ax { background-image: url("../gfx/flags/ax.png"); }
.flag.az { background-image: url("../gfx/flags/az.png"); }
.flag.ba { background-image: url("../gfx/flags/ba.png"); }
.flag.bb { background-image: url("../gfx/flags/bb.png"); }
.flag.bd { background-image: url("../gfx/flags/bd.png"); }
.flag.be { background-image: url("../gfx/flags/be.png"); }
.flag.bf { background-image: url("../gfx/flags/bf.png"); }
.flag.bg { background-image: url("../gfx/flags/bg.png"); }
.flag.bh { background-image: url("../gfx/flags/bh.png"); }
.flag.bi { background-image: url("../gfx/flags/bi.png"); }
.flag.bj { background-image: url("../gfx/flags/bj.png"); }
.flag.bm { background-image: url("../gfx/flags/bm.png"); }
.flag.bn { background-image: url("../gfx/flags/bn.png"); }
.flag.bo { background-image: url("../gfx/flags/bo.png"); }
.flag.br { background-image: url("../gfx/flags/br.png"); }
.flag.bs { background-image: url("../gfx/flags/bs.png"); }
.flag.bt { background-image: url("../gfx/flags/bt.png"); }
.flag.bv { background-image: url("../gfx/flags/bv.png"); }
.flag.bw { background-image: url("../gfx/flags/bw.png"); }
.flag.by { background-image: url("../gfx/flags/by.png"); }
.flag.bz { background-image: url("../gfx/flags/bz.png"); }
.flag.ca { background-image: url("../gfx/flags/ca.png"); }
.flag.catalonia { background-image: url("../gfx/flags/catalonia.png"); }
.flag.cc { background-image: url("../gfx/flags/cc.png"); }
.flag.cd { background-image: url("../gfx/flags/cd.png"); }
.flag.cf { background-image: url("../gfx/flags/cf.png"); }
.flag.cg { background-image: url("../gfx/flags/cg.png"); }
.flag.ch { background-image: url("../gfx/flags/ch.png"); }
.flag.ci { background-image: url("../gfx/flags/ci.png"); }
.flag.ck { background-image: url("../gfx/flags/ck.png"); }
.flag.cl { background-image: url("../gfx/flags/cl.png"); }
.flag.cm { background-image: url("../gfx/flags/cm.png"); }
.flag.cn { background-image: url("../gfx/flags/cn.png"); }
.flag.co { background-image: url("../gfx/flags/co.png"); }
.flag.cr { background-image: url("../gfx/flags/cr.png"); }
.flag.cs { background-image: url("../gfx/flags/cs.png"); }
.flag.cu { background-image: url("../gfx/flags/cu.png"); }
.flag.cv { background-image: url("../gfx/flags/cv.png"); }
.flag.cx { background-image: url("../gfx/flags/cx.png"); }
.flag.cy { background-image: url("../gfx/flags/cy.png"); }
.flag.cz { background-image: url("../gfx/flags/cz.png"); }
.flag.de { background-image: url("../gfx/flags/de.png"); }
.flag.dj { background-image: url("../gfx/flags/dj.png"); }
.flag.dk { background-image: url("../gfx/flags/dk.png"); }
.flag.dm { background-image: url("../gfx/flags/dm.png"); }
.flag.do { background-image: url("../gfx/flags/do.png"); }
.flag.dz { background-image: url("../gfx/flags/dz.png"); }
.flag.ec { background-image: url("../gfx/flags/ec.png"); }
.flag.ee { background-image: url("../gfx/flags/ee.png"); }
.flag.eg { background-image: url("../gfx/flags/eg.png"); }
.flag.eh { background-image: url("../gfx/flags/eh.png"); }
.flag.england { background-image: url("../gfx/flags/england.png"); }
.flag.er { background-image: url("../gfx/flags/er.png"); }
.flag.es { background-image: url("../gfx/flags/es.png"); }
.flag.et { background-image: url("../gfx/flags/et.png"); }
.flag.europeanunion { background-image: url("../gfx/flags/europeanunion.png"); }
.flag.fam { background-image: url("../gfx/flags/fam.png"); }
.flag.fi { background-image: url("../gfx/flags/fi.png"); }
.flag.fj { background-image: url("../gfx/flags/fj.png"); }
.flag.fk { background-image: url("../gfx/flags/fk.png"); }
.flag.fm { background-image: url("../gfx/flags/fm.png"); }
.flag.fo { background-image: url("../gfx/flags/fo.png"); }
.flag.fr { background-image: url("../gfx/flags/fr.png"); }
.flag.ga { background-image: url("../gfx/flags/ga.png"); }
.flag.gb { background-image: url("../gfx/flags/gb.png"); }
.flag.gd { background-image: url("../gfx/flags/gd.png"); }
.flag.ge { background-image: url("../gfx/flags/ge.png"); }
.flag.gf { background-image: url("../gfx/flags/gf.png"); }
.flag.gh { background-image: url("../gfx/flags/gh.png"); }
.flag.gi { background-image: url("../gfx/flags/gi.png"); }
.flag.gl { background-image: url("../gfx/flags/gl.png"); }
.flag.gm { background-image: url("../gfx/flags/gm.png"); }
.flag.gn { background-image: url("../gfx/flags/gn.png"); }
.flag.gp { background-image: url("../gfx/flags/gp.png"); }
.flag.gq { background-image: url("../gfx/flags/gq.png"); }
.flag.gr { background-image: url("../gfx/flags/gr.png"); }
.flag.gs { background-image: url("../gfx/flags/gs.png"); }
.flag.gt { background-image: url("../gfx/flags/gt.png"); }
.flag.gu { background-image: url("../gfx/flags/gu.png"); }
.flag.gw { background-image: url("../gfx/flags/gw.png"); }
.flag.gy { background-image: url("../gfx/flags/gy.png"); }
.flag.hk { background-image: url("../gfx/flags/hk.png"); }
.flag.hm { background-image: url("../gfx/flags/hm.png"); }
.flag.hn { background-image: url("../gfx/flags/hn.png"); }
.flag.hr { background-image: url("../gfx/flags/hr.png"); }
.flag.ht { background-image: url("../gfx/flags/ht.png"); }
.flag.hu { background-image: url("../gfx/flags/hu.png"); }
.flag.id { background-image: url("../gfx/flags/id.png"); }
.flag.ie { background-image: url("../gfx/flags/ie.png"); }
.flag.il { background-image: url("../gfx/flags/il.png"); }
.flag.in { background-image: url("../gfx/flags/in.png"); }
.flag.io { background-image: url("../gfx/flags/io.png"); }
.flag.iq { background-image: url("../gfx/flags/iq.png"); }
.flag.ir { background-image: url("../gfx/flags/ir.png"); }
.flag.is { background-image: url("../gfx/flags/is.png"); }
.flag.it { background-image: url("../gfx/flags/it.png"); }
.flag.jm { background-image: url("../gfx/flags/jm.png"); }
.flag.jo { background-image: url("../gfx/flags/jo.png"); }
.flag.jp { background-image: url("../gfx/flags/jp.png"); }
.flag.ke { background-image: url("../gfx/flags/ke.png"); }
.flag.kg { background-image: url("../gfx/flags/kg.png"); }
.flag.kh { background-image: url("../gfx/flags/kh.png"); }
.flag.ki { background-image: url("../gfx/flags/ki.png"); }
.flag.km { background-image: url("../gfx/flags/km.png"); }
.flag.kn { background-image: url("../gfx/flags/kn.png"); }
.flag.kp { background-image: url("../gfx/flags/kp.png"); }
.flag.kr { background-image: url("../gfx/flags/kr.png"); }
.flag.kw { background-image: url("../gfx/flags/kw.png"); }
.flag.ky { background-image: url("../gfx/flags/ky.png"); }
.flag.kz { background-image: url("../gfx/flags/kz.png"); }
.flag.la { background-image: url("../gfx/flags/la.png"); }
.flag.lb { background-image: url("../gfx/flags/lb.png"); }
.flag.lc { background-image: url("../gfx/flags/lc.png"); }
.flag.li { background-image: url("../gfx/flags/li.png"); }
.flag.lk { background-image: url("../gfx/flags/lk.png"); }
.flag.lr { background-image: url("../gfx/flags/lr.png"); }
.flag.ls { background-image: url("../gfx/flags/ls.png"); }
.flag.lt { background-image: url("../gfx/flags/lt.png"); }
.flag.lu { background-image: url("../gfx/flags/lu.png"); }
.flag.lv { background-image: url("../gfx/flags/lv.png"); }
.flag.ly { background-image: url("../gfx/flags/ly.png"); }
.flag.ma { background-image: url("../gfx/flags/ma.png"); }
.flag.mc { background-image: url("../gfx/flags/mc.png"); }
.flag.md { background-image: url("../gfx/flags/md.png"); }
.flag.me { background-image: url("../gfx/flags/me.png"); }
.flag.mg { background-image: url("../gfx/flags/mg.png"); }
.flag.mh { background-image: url("../gfx/flags/mh.png"); }
.flag.mk { background-image: url("../gfx/flags/mk.png"); }
.flag.ml { background-image: url("../gfx/flags/ml.png"); }
.flag.mm { background-image: url("../gfx/flags/mm.png"); }
.flag.mn { background-image: url("../gfx/flags/mn.png"); }
.flag.mo { background-image: url("../gfx/flags/mo.png"); }
.flag.mp { background-image: url("../gfx/flags/mp.png"); }
.flag.mq { background-image: url("../gfx/flags/mq.png"); }
.flag.mr { background-image: url("../gfx/flags/mr.png"); }
.flag.ms { background-image: url("../gfx/flags/ms.png"); }
.flag.mt { background-image: url("../gfx/flags/mt.png"); }
.flag.mu { background-image: url("../gfx/flags/mu.png"); }
.flag.mv { background-image: url("../gfx/flags/mv.png"); }
.flag.mw { background-image: url("../gfx/flags/mw.png"); }
.flag.mx { background-image: url("../gfx/flags/mx.png"); }
.flag.my { background-image: url("../gfx/flags/my.png"); }
.flag.mz { background-image: url("../gfx/flags/mz.png"); }
.flag.na { background-image: url("../gfx/flags/na.png"); }
.flag.nc { background-image: url("../gfx/flags/nc.png"); }
.flag.ne { background-image: url("../gfx/flags/ne.png"); }
.flag.nf { background-image: url("../gfx/flags/nf.png"); }
.flag.ng { background-image: url("../gfx/flags/ng.png"); }
.flag.ni { background-image: url("../gfx/flags/ni.png"); }
.flag.nl { background-image: url("../gfx/flags/nl.png"); }
.flag.no { background-image: url("../gfx/flags/no.png"); }
.flag.np { background-image: url("../gfx/flags/np.png"); }
.flag.nr { background-image: url("../gfx/flags/nr.png"); }
.flag.nu { background-image: url("../gfx/flags/nu.png"); }
.flag.nz { background-image: url("../gfx/flags/nz.png"); }
.flag.om { background-image: url("../gfx/flags/om.png"); }
.flag.pa { background-image: url("../gfx/flags/pa.png"); }
.flag.pe { background-image: url("../gfx/flags/pe.png"); }
.flag.pf { background-image: url("../gfx/flags/pf.png"); }
.flag.pg { background-image: url("../gfx/flags/pg.png"); }
.flag.ph { background-image: url("../gfx/flags/ph.png"); }
.flag.pk { background-image: url("../gfx/flags/pk.png"); }
.flag.pl { background-image: url("../gfx/flags/pl.png"); }
.flag.pm { background-image: url("../gfx/flags/pm.png"); }
.flag.pn { background-image: url("../gfx/flags/pn.png"); }
.flag.pr { background-image: url("../gfx/flags/pr.png"); }
.flag.ps { background-image: url("../gfx/flags/ps.png"); }
.flag.pt { background-image: url("../gfx/flags/pt.png"); }
.flag.pw { background-image: url("../gfx/flags/pw.png"); }
.flag.py { background-image: url("../gfx/flags/py.png"); }
.flag.qa { background-image: url("../gfx/flags/qa.png"); }
.flag.re { background-image: url("../gfx/flags/re.png"); }
.flag.ro { background-image: url("../gfx/flags/ro.png"); }
.flag.rs { background-image: url("../gfx/flags/rs.png"); }
.flag.ru { background-image: url("../gfx/flags/ru.png"); }
.flag.rw { background-image: url("../gfx/flags/rw.png"); }
.flag.sa { background-image: url("../gfx/flags/sa.png"); }
.flag.sb { background-image: url("../gfx/flags/sb.png"); }
.flag.scotland { background-image: url("../gfx/flags/scotland.png"); }
.flag.sc { background-image: url("../gfx/flags/sc.png"); }
.flag.sd { background-image: url("../gfx/flags/sd.png"); }
.flag.se { background-image: url("../gfx/flags/se.png"); }
.flag.sg { background-image: url("../gfx/flags/sg.png"); }
.flag.sh { background-image: url("../gfx/flags/sh.png"); }
.flag.si { background-image: url("../gfx/flags/si.png"); }
.flag.sj { background-image: url("../gfx/flags/sj.png"); }
.flag.sk { background-image: url("../gfx/flags/sk.png"); }
.flag.sl { background-image: url("../gfx/flags/sl.png"); }
.flag.sm { background-image: url("../gfx/flags/sm.png"); }
.flag.sn { background-image: url("../gfx/flags/sn.png"); }
.flag.so { background-image: url("../gfx/flags/so.png"); }
.flag.sr { background-image: url("../gfx/flags/sr.png"); }
.flag.st { background-image: url("../gfx/flags/st.png"); }
.flag.sv { background-image: url("../gfx/flags/sv.png"); }
.flag.sy { background-image: url("../gfx/flags/sy.png"); }
.flag.sz { background-image: url("../gfx/flags/sz.png"); }
.flag.tc { background-image: url("../gfx/flags/tc.png"); }
.flag.td { background-image: url("../gfx/flags/td.png"); }
.flag.tf { background-image: url("../gfx/flags/tf.png"); }
.flag.tg { background-image: url("../gfx/flags/tg.png"); }
.flag.th { background-image: url("../gfx/flags/th.png"); }
.flag.tj { background-image: url("../gfx/flags/tj.png"); }
.flag.tk { background-image: url("../gfx/flags/tk.png"); }
.flag.tl { background-image: url("../gfx/flags/tl.png"); }
.flag.tm { background-image: url("../gfx/flags/tm.png"); }
.flag.tn { background-image: url("../gfx/flags/tn.png"); }
.flag.to { background-image: url("../gfx/flags/to.png"); }
.flag.tr { background-image: url("../gfx/flags/tr.png"); }
.flag.tt { background-image: url("../gfx/flags/tt.png"); }
.flag.tv { background-image: url("../gfx/flags/tv.png"); }
.flag.tw { background-image: url("../gfx/flags/tw.png"); }
.flag.tz { background-image: url("../gfx/flags/tz.png"); }
.flag.ua { background-image: url("../gfx/flags/ua.png"); }
.flag.ug { background-image: url("../gfx/flags/ug.png"); }
.flag.um { background-image: url("../gfx/flags/um.png"); }
.flag.us { background-image: url("../gfx/flags/us.png"); }
.flag.uy { background-image: url("../gfx/flags/uy.png"); }
.flag.uz { background-image: url("../gfx/flags/uz.png"); }
.flag.va { background-image: url("../gfx/flags/va.png"); }
.flag.vc { background-image: url("../gfx/flags/vc.png"); }
.flag.ve { background-image: url("../gfx/flags/ve.png"); }
.flag.vg { background-image: url("../gfx/flags/vg.png"); }
.flag.vi { background-image: url("../gfx/flags/vi.png"); }
.flag.vn { background-image: url("../gfx/flags/vn.png"); }
.flag.vu { background-image: url("../gfx/flags/vu.png"); }
.flag.wales { background-image: url("../gfx/flags/wales.png"); }
.flag.wf { background-image: url("../gfx/flags/wf.png"); }
.flag.ws { background-image: url("../gfx/flags/ws.png"); }
.flag.ye { background-image: url("../gfx/flags/ye.png"); }
.flag.yt { background-image: url("../gfx/flags/yt.png"); }
.flag.za { background-image: url("../gfx/flags/za.png"); }
.flag.zm { background-image: url("../gfx/flags/zm.png"); }
.flag.zw { background-image: url("../gfx/flags/zw.png"); }
