/*@import url("grid.css");
@import url("button.css");*/
@import url("flags.css");
@import url("bootstrap.min.css");

.btn-primary {
    color: #320;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}

.btn-primary:hover {
    color: #000;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}

.modal {
    color: #000;
    font-size: 11pt;
}

.modal-content a {
    color: #33F;
    font-weight: bold;
}

/* === */

body {
    color: #FFF;
    background: #1e1e1e;

    font-family: "DejaVu Sans", Verdana, Arial, sans-serif;
    /* font-family: Verdana, Arial, sans-serif; */
    font-size: 8pt;
    margin: 0;
    padding: 0;

    min-width: 700px;
}

a {
    color: #BC312C;
    color: #F90;
    text-decoration: none;
}

a:hover {
    color: #FF0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
    font-weight: inherit;
}

#content h1 {
    font-weight: normal;
    color: #EEE;
    margin-top: 0;
}

#content h1 small {
    color: #444;
    margin-left: 20px;
}

#content h2 {
    font-weight: normal;
    font-size: 1.6em;
    border: 1px solid #222;
    background: #222;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0)));
    border: 0;
    border-radius: 4px 4px 0 0;
    padding: 6px 10px;
    color: #444;
}

#content h2 small {
    color: #777;
    margin-left: 5px;
    font-size: 0.6em;
}


p, ul {
    text-align: justify;
    line-height: 1.5em;
    margin: 10px 0;
    padding: 0;
}

ul {
    padding-left: 1.5em;
    list-style: square;
}

/* h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    text-decoration: underline;
}*/

#flashes {
    position: fixed;
    top: 0;
    left: 50%;
    width: 500px;
    margin: 0;
    margin-left: -250px;
    padding: 0;
    list-style: none;
}

#flashes li {
    display: block;
    background: #222;
    padding: 3px 6px;
    box-shadow: 0 0  #000;
    font-weight: bold;
}

#flashes li:last-child {
    border-radius: 0 0 4px 4px;
}

.error {
    border-color: #F00 !important;
    color: #F00 !important;
    background: #FAA !important;
}

.info {
    border-color: #00A !important;
    color: #00A !important;
    background: #ACF !important;
}

.success {
    border-color: #080 !important;
    color: #080 !important;
    background: #AF8 !important;
}

.warning {
    border-color: #F90 !important;
    color: #A60 !important;
    background: #FF8 !important;
}

#header {
    height: 50px;
    line-height: 50px;

    background: -webkit-gradient(linear, left top, left bottom, from(#0d0d0d), to(#040404));

    margin-bottom: 82px;
}

#title {
    margin-left: 20px;
    font-size: 13pt;
    font-weight: bold;
    color: #C0C0C0;
    font-family: "DejaVu Sans Condensed", "DejaVu Sans", Verdana, Arial, sans-serif;
}

#title a {
    text-decoration: none;
    color: inherit;
}

#logo {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background: url("../gfx/logo.png");

    display: inline-block;
    #display: inline;

    vertical-align: middle;
}

#top-navigation {
    float: right;
    margin-right: 20px;
}

#top-navigation ul {
    list-style: none;
    display: inline;
    margin: 0; padding: 0;
}

#top-navigation ul li {
    display: inline;
    margin-right: 10px;
}

#top-navigation a {
    color: #6e6e6e;
    text-decoration: none;
}

#top-navigation a:hover {
    color: #AAA;
}

a.button.large,
#account > a {
    background: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#262626));
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    #display: inline;
    padding: 0 10px;
    font-size: 1.1em;
    font-weight: bold;

    color: #131313;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
    box-shadow: 3px 3px 3px #000;
}

#account > a:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444));
    color: #222;
}

#account {
    display: inline-block;
    position: relative;
}

#account img {
    position: relative;
    left: -6px;
    top: -1px;
    border: 1px solid #222;
}

img {
    vertical-align: middle;
}

#navigation {
    min-width: 700px;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: #1E1E1E;
    border-top: 1px solid #2c2c2c;
    border-bottom: 1px solid #000;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);

    position: absolute;
    left: 0;
    top: 50px;

    text-align: center;
}

#navigation .left {
    float: left;
    margin: 0 20px;
}

#navigation .right {
    float: right;
    margin: 0 20px;
}

.center-status {
    margin: 20px 0;
    line-height: 25px;
    font-size: 10pt;
}

#navigation a {
    text-decoration: none;
}

.center-status .mini-countdown {
    color: #888;
    font-size: 18pt;
}

.breadcrumb {
    height: 38px;
    line-height: 38px;
    list-style: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#2c2c2c), to(#1d1d1d));

    border-radius: 4px;
    border: 1px solid #0b0b0b;
    padding: 0 10px;
    display: inline-block;
    #dispaly: inline;
}

.breadcrumb li {
    display: inline-block;
    #display: inline;
    font-size: 11pt;
    padding: 0 10px;
    color: #a5a5a5;
    text-shadow: -1px -1px 1px #000;

    background: url("../gfx/breadcrumb.png") right center no-repeat;
    padding-right: 25px;
}

.breadcrumb li a {
    color: inherit;
    text-decoration: none;
}

.breadcrumb li a:hover {
    color: #DDD;
}

.breadcrumb li:last-child {
    background: none;
    padding-right: 10px;
}

#content {
    display: table;
    width: 100%;
}

#sidebar {
    display: table-cell;
    width: 200px;
    background: #1E1E1E;
    border-right: 1px solid #383838;
    text-align: right;
    font-size: 8pt;
    vertical-align: top;
}

#sidebar h1 {
    font-size: 11pt;
    font-weight: normal;
    color: #585858;
}

#sidebar hr {
    margin: 10px -20px;
    border: 0;
    border-bottom: 1px solid #383838;
}

ul.sidebar {
    list-style: none;
    margin: 0 -20px;
    padding: 0;
    text-align: inherit;
}

ul.sidebar li {
    padding: 0;
    position: relative;
}

ul.sidebar li a {
    display: block;
    margin: 2px 0;
    padding: 3px 20px;
    color: #7C7C7C;
    text-decoration: none;
}

ul.sidebar li a:hover {
    background: #111;
}

ul.sidebar li.current a {
    background: #020202;
}

ul.sidebar li span.notify {
    position: absolute;
    height: 12px;
    margin-top: -6px;
    border-radius: 4px;
    text-align: center;
    line-height: 13px;
    color: #111;
    font-weight: bold;
    font-size: 7pt;
    top: 50%;
    padding: 0 4px 0 3px;
    right: 3px;
    background: #333;
}

ul.sidebar li span.notify.active {
    background: #F90;
}

#page {
    display: table-cell;
    vertical-align: top;
    background: #030303;
    padding-bottom: 100px;
}

.padding {
    margin: 20px;
}

* {
    outline: 0;
}

input[type="text"].search {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #2b2b2b;
    background: -webkit-gradient(linear, left top, left bottom, from(#1c1c1c), to(#2c2c2c));

    color: #666;
    font-weight: bold;
    font-size: 11pt;
    padding: 0 15px;
    width: 200px;
}

input.search::-webkit-input-placeholder { color: #434343; }
input.search:-moz-placeholder { color: #434343; }

ul.games,
ul.games-winners {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

ul.games li,
ul.games-winners li {
    display: inline-block;
}

ul.games li a:hover {
    background: #2a2a2a;
}

ul.games li a {
    color: #CCC;
    text-decoration: none;
    display: block;
    width: 128px;
    background: #1e1e1e;
    border: 1px solid #353535;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

ul.games li a span {
    white-space: nowrap;
    width: 100%;
    display: block;
    overflow: hidden;
}

ul.games.mini li a {
    padding: 5px;
    width: 64px;
}

ul.games li img {
    margin-bottom: 10px;
    opacity: 0.7;
    width: 128px;
    height: 128px;
}

ul.games.mini li img {
    width: 64px;
    height: 64px;
}

ul.games li a:hover img {
    opacity: 1;
}

ul.games-winners {
    text-align: center;
}

ul.games-winners li {
    position: relative;
    width: 128px;
    height: 128px;
}

ul.games-winners li img,
ul.games-winners li .star {
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
    height: 128px;
}

ul.games-winners li .star {
    background-position: center center;
    background-repeat: no-repeat;
}

ul.games-winners li.place-1 .star { background-image: url("../gfx/stars/gold-128.png"); }
ul.games-winners li.place-2 .star { background-image: url("../gfx/stars/silver-128.png"); }
ul.games-winners li.place-3 .star { background-image: url("../gfx/stars/bronze-128.png"); }

ol.steps {
    font-size: 18pt;
    list-style: none;
    margin: 0;
    padding: 0;
}

ol.steps li a span {
    position: absolute;
    top: 50%;
    left: 0.2em;
    margin-top: -0.5em;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.1);
}

ol.steps li a {
    position: relative;
    width: 80%;
    color: #666;
    display: block;
    padding: 10px;
    padding-left: 30px;
    margin: 5px auto;
    background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111));
    border-radius: 10px;
    border: 1px solid #222;
    box-shadow: 4px 4px 8px #000;
}

ol.steps li a:hover {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
    border-color: #333;
}

ol.steps li small {
    vertical-align: middle;
    margin-left: 10px;
    font-size: 0.5em;
    opacity: 0.7;
}

table.details {
    border-collapse: collapse;
    margin: 20px;
}

table.details th,
table.details td {
    padding: 4px 8px;
}

table.details th {
    text-align: right;
    border-right: 1px solid #333;
    color: #777;
    font-weight: normal;
}

ul.users {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

ul.users li {
    display: inline-block;
    font-size: 1.2em;
}

ul.users li .user {
    display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
    padding: 4px;
    width: 100px;
    margin: 2px 0;
    border-radius: 2px;
    color: #AAA;
}

ul.users li a.user:hover {
    color: #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#333));
}

.user.deleted {
    color: #A33 !important;
    font-size: 0.9em !important;
    font-weight: bold;
}

ul.screenshots {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.screenshots li {
    display: inline-block;
    margin-bottom: 5px;
}

ul.screenshots li img {
    height: 100px;
}

.toolbox {
    text-align: center;
    line-height: 2.4em;
}

.toolbox .btn {
    width: 60%;
}

ul.comments {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.comments li {
    min-height: 32px;
    border-bottom: 1px solid #111;
    margin-bottom: 5px;
    padding: 4px;
    margin: 0;
    position: relative;
}

ul.comments li .icon {
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    left: 5px;
}

ul.comments li .meta,
ul.comments li .text {
    margin-left: 40px;
}

ul.comments li .meta,
ul.comments li .meta a {
    color: #666;
}

.markdown p:first-child {
    margin-top: 0;
}

.markdown p:last-child {
    margin-bottom: 0;
}

textarea {
    background: #222;
    font-family: inherit;
    padding: 4px;
    border: 1px solid #333;
    font-size: inherit;
    color: #777;
}

textarea.comment {
    display: block;
    width: 90%;
    margin: auto;
}

label {
    color: #999;
}

form.block .field > label {
    width: 100px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    color: #555;
    vertical-align: top;
    margin-top: 7px;
}

p.form-buttons {
    text-align: center;
}


form.block .field {
    margin-bottom: 20px;
}

form.block .field .form-info {
    margin-left: 113px;
}

form.block .form-info {
    margin-top: 4px;
    color: #333;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    height: 26px;
    border-radius: 4px;
    border: 1px solid #2b2b2b;
    background: -webkit-gradient(linear, left top, left bottom, from(#1c1c1c), to(#2c2c2c));
    color: #666;
    font-weight: bold;
    font-size: 11pt;
    padding: 0 8px;
    width: 200px;
}

table.teams {
    border-collapse: collapse;
    border: 1px solid #444;
}

table.teams th,
table.teams td {
    padding: 8px 12px;
    background: #222;
    border: 1px solid #444;
    border-width: 1px 0;
}

table.teams th {
    background: #111;
}
