body {
    text-align: center;
    text-shadow: 0 0 20px #666;
    color: #EEE;
    margin: 0;
    padding: 0;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#222)) fixed;
    background: -moz-linear-gradient(top, #111, #222) fixed;

    font-family: Verdana, Arial, sans-serif;
    font-size: 9pt;
}

* {
    -webkit-transition: text-shadow 0.2s ease-in-out;
    -moz-transition: text-shadow 0.2s ease-in-out;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 20px #999;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
}

.countdown {
    position: relative;
    left: -450px;
    top: -150px;
    width: 900px;
    height: 300px;

    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#333));
    background: -moz-linear-gradient(top, #222, #333);
    border: 10px solid #111;
}

.text {
    margin-bottom: 20px;
    margin-top: 50px;
}

.link {
    margin-top: 10px;
}

.text,
.link {
    font-weight: bold;
    font-size: 14pt;
}

.time .digit {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url("gfx/countdown.png");
    /* alternative transition
    -webkit-transition: background 0.4s linear;
    -moz-transition: background 0.4s linear;
    */
    -webkit-transition: background 0.1s ease-in;
    -moz-transition: background 0.1s ease-in;
}

.time.red .digit {
    background: url("gfx/countdown-red.png");
}

.time .digit.n0 { background-position: 0px -000px; }
.time .digit.n1 { background-position: 0px -100px; }
.time .digit.n2 { background-position: 0px -200px; }
.time .digit.n3 { background-position: 0px -300px; }
.time .digit.n4 { background-position: 0px -400px; }
.time .digit.n5 { background-position: 0px -500px; }
.time .digit.n6 { background-position: 0px -600px; }
.time .digit.n7 { background-position: 0px -700px; }
.time .digit.n8 { background-position: 0px -800px; }
.time .digit.n9 { background-position: 0px -900px; }


.time .colon {
    display: inline-block;
    width: 30px;
    height: 100px;
    background: url("gfx/countdown-colon.png");
}

.time.red .colon {
    background-position: 30px 0px;
}

.red .time {
}
