<!doctype html>
<html>
    <head>
        <title>{{ jam.title }} - Countdown</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/countdown.css') }}" />
        <link href='http://fonts.googleapis.com/css?family=McLaren' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"> </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/countdown.js') }}"> </script>
    </head>
    <body>
        <div class="wrapper">
            {% if jam.start_time > current_datetime %}
                {% set time = jam.start_time %}
                {% set text = "starts in" %}
            {% elif jam.end_time <= current_datetime %}
                {% set time = jam.end_time %}
                {% set text = "has finished" %}
            {% else %}
                {% set time = jam.end_time %}
                {% set text = "ends in" %}
            {% endif %}

            <div class="countdown" time="{{ time  }}">
                <div class="text">{{ jam.title }} {{ text }}</div>

            {#
                <div class="time-digits">
                    <div class="digit d1"></div>
                    <div class="colon"></div>
                    <div class="digit h0"></div>
                    <div class="digit h1"></div>
                    <div class="colon"></div>
                    <div class="digit m0"></div>
                    <div class="digit m1"></div>
                    <div class="colon"></div>
                    <div class="digit s0"></div>
                    <div class="digit s1"></div>
                </div>
            #}

                <div class="time"></div>

                <div class="link"><a href="{{jam.url()}}">&laquo; back to the jam</a></div>
            </div>
        </div>
    </body>
</html>
