{% extends "base.html" %}

{% block title %}FAQ{% endblock %}

{% block content %}
<h1>FAQ</h1>

<div class="row-fluid">
    <div class="span4">
        <h2>What is a gamejam?</h2>
        <p>
            A game jam is an event during which all participants create
            games according to a provided theme within a short amount of
            time (usually between two days to a week). Check out the
            <a href="{{ url_for('rules') }}#procedure">rules page</a> for
            details on the procedure.
        </p>

        <h2>Who can participate?</h2>
        <p>
            <b>Everyone.</b> It is as simple as that.
        </p>
        <p>
            You probably want a reddit account, since we were founded on reddit
            and reddit is really awesome. You do not need any skills, you will
            gain them here. We won't exclude anyone for their inexperience.
        </p>

        <h2>What type of games are created?</h2>
        <p>
            Difficult to say. We want to achieve a wide range of different
            game types. Games are also rated for their <i>innovative factor</i>,
            and some games submitted have unique gameplay mechanisms. Of course
            there are always some games of the main video game genres, but
            that depends on the theme and the creativity of the author.
        </p>
        <p>
            Have the courage to try something completely new. It's worth it!
        </p>
    </div>

    <div class="span4">
        <h2>How do I make a game?</h2>
        <p>
            Never did it before? No problem! The game jams are a learning
            effort, so newbies are also welcome. But to make sure you will
            have something playable within this short amount of time you
            should prepare for the event. Tips for greenhorns:
        </p>

        <p>
            <b>For programmers:</b>
            <ul class="normal">
                <li>First learn programming, then game development. Many people
                think this is the same, but actually there is a huge difference.
                It's good to know how to program, but making a game is much
                more. You also need art, maths, a story, a lot of creativity
                and a good time management.</li>
                <li>Find an easy programming language, framework or engine. You
                probably do not want to start of coding C on OpenGL level.
                Find something that suits you. You are even allowed to use
                game creation software where you only have to drag 'n' drop
                your components together.</li>
            </ul>
        </p>

        <p>
            <b>For everyone:</b>
            <ul class="normal">
                <li>Team up! While working with other people who are more
                experienced than you you learn a lot faster than alone. Wait
                for a <i>team jam</i> and find people to work with. There are
                lots of skilled game developers here, just ask.</li>
                <li>Join as an artist. Every game needs some art, and every
                programmer loves artists. You will contribute an important
                part to a game project, even if you don't write a single line
                of code.</li>
            </ul>
        </p>
    </div>

    <div class="span4">
        <h2>Where can I find resources?</h2>
        <p>
            We compiled <a href="{{ url_for('links') }}#resources">this nice list</a> for you. But always make sure to check
            the licence!
        </p>

        <h2>I need an artist / programmer</h2>
        <p>
            You can find other participants on IRC, on this website or on reddit.
            Feel free to ask anywhere. You can also try out our new  TEAM FINDER.
        </p>

        <h2>I need help with packaging!</h2>
        <p>
            Well, no problem! Check out our awesome
            <a href="{{ url_for('faq', page='packaging') }}">game packaging guide</a>! If you still
            have problems, ask us on <a href="{{ url_for('contact') }}#irc">IRC</a>.
        </p>

        <h2>Why don't you announce on XYZ?</h2>
        <p>
            Because we didn't know about it. Why don't you just go ahead
            and post a link to the announcement or this website over at
            your favorite gamedev community or platform, so as many people
            as possible can join us?
        </p>
    </div>
</div>
{% endblock %}
