{% extends "base.html" %}
{% from "_formhelpers.html" import form_errors %}



{% block content %}
<h2>New Entry for Jam: {{ jam.title }}</h2>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

    <form action="{{ url_for('new_entry', jam_slug = jam.slug) }}" method="post">
        {{ form.hidden_tag() }}
        <div class="box" style="margin: 0 auto;">
            <h4>Details</h4>
            <div class="box-content">
                <p>{{ form_errors(form) }}</p>
                <table class="details">
                    <tr>
                        <th width="130">{{ form.title.label }}</th>
                        <td>
                            {{ form.title(class="text-input") }}
                            <span class="input-info" title="Allowed characters: letters, numbers, dashes, underscores">min 6 characters</span></span>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ form.description.label }}</th>
                        <td>
                            {{ form.description(class="text-input") }}
                            <div class="input-info">Parsed with Markdown</div>
                        </td>
                    </tr>
                </table>
            </div>
            <p class="form-buttons">
                <input type="reset" class="button" value="Reset">
                <input type="submit" class="button default" value="Submit">
            </p>
        </div>
    </form>
</form>
{% endblock %}
