{% extends "base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block content %}
<h2>Reset</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

    <form action="{{ url_for('reset_verify', username=user.username, token=user.getResetToken()) }}" method="post">
        {{ form.hidden_tag() }}
        <div class="box" style="width: 520px; margin: 0 auto;">
            <h4>Reset</h4>
            <div class="box-content">
                {{ form_errors(form) }}
                <table class="details">
                    <tr>
                        <th>{{ form.password.label }}</th>
                        <td>{{ form.password(class="password-input") }}
                        <span class="input-info" title="all characters allowed">min 8 characters</span>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ form.password2.label }}</th>
                        <td>{{ form.password2(class="password-input") }}
                        <span class="input-info">repeat for verification</span>
                        </td>
                    </tr>
                </table>
            </div>
            <p class="form-buttons">
                <input type="submit" class="button default" value="Change">
            </p>
        </div>
    </form>
{% endblock %}
