{% extends "base.html" %}
{% block content %}
<h2>Register</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="{{ url_for('new_jam') }}" method=post>
    {{ form.hidden_tag() }}
    {% for error in form.short_name.errors %}{{ error }}{% endfor %}
    {{ form.short_name.label }}: {{ form.short_name() }}
    {% for error in form.long_name.errors %}{{ error }}{% endfor %}
    {{ form.long_name.label }}: {{ form.long_name() }}
    {% for error in form.start_time.errors %}{{ error }}{% endfor %}
    {{ form.start_time.label }}: {{ form.start_time() }}
    <input type=submit value=Go>
</form>
{% endblock %}
