{% extends "base.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}

<h1>Team Invitations</h1>

{% set invitations = current_user.openInvitations %}

{% if invitations | length == 0 %}
    <p>
        You have no invitations open. Go invite someone yourself, from the
        participants list of the jam you want to participate in.
    </p>
{% else %}
    <table class="table table-hover table-bordered" style="width: auto; min-width: 50%;">
    <thead>
        <tr class="sorters">
            <th style="width: 2em;"></th>
            <th>Jam</th>
            <th>Team</th>
            <th>Members</th>
            <th class="nosort"></th>
        </tr>
    </thead>
    <tbody>
        {% for invitation in invitations %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ invitation.team.jam.url() }}">{{ invitation.team.jam.title }}</a></td>
            <td><a href="{{ invitation.team.url() }}">{{ invitation.team.name }}</a></td>
            <td data-value="{{ invitation.team.members | length }}">
                {% for m in invitation.team.members %}
                {{ m.getLink(real=False) }}
                {% endfor %}
            </td>
            <td>
                <a href="{{ invitation.url(action='decline') }}" style="color:red;">Decline</a> |
                <a href="{{ invitation.url() }}" style="color:green;">Accept</a> |
                <a href="{{ invitation.url() }}">Details</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </ul>
{% endif %}

{% endblock %}
