{% extends "base.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}

<h1>
    <img class="icon big" style="margin-right: 10px;" width="48" height="48" src="{{ user.getAvatar(48) }}" />
    {{ user.username }}
    {% if user.real_name %}<small>{{ user.real_name }}</small>{% endif %}

    <div class="pull-right">
        {% if current_user.is_authenticated() and current_user == user %}
            <a href="{{ url_for('settings') }}" class="btn btn-primary">Profile settings</a>
        {% elif current_user.is_authenticated() %}
            {% if user.pm_mode == "form" %}
                <a href="{{ url_for('contact_user', username = user.username) }}" class="btn">Send mail</a>
            {% elif user.pm_mode == "email" %}
                <a href="mailto:{{ user.email }}" class="btn">Send mail</a>
            {% endif %}
        {% endif %}
    </div>
</h1>


<div class="row-fluid">
    <div class="span6">
        <h2>Personal data</h2>
        <table class="details">
            <tr>
                <th>Member since</th>
                <td>
                    {{ user.registered | humantime }}
                </td>
            </tr>

            {% if user.location %}
            <tr>
                <th>Location</th>
                <td>
                    {{ user.getLocation() }}
                    <a href="{{ url_for('map', mode = 'user', id = user.id) }}" class="pull-right">Show map</a>
                </td>
            </tr>
            {% endif %}

            {% if user.real_name %}
            <tr>
                <th>Real Name</th>
                <td>{{ user.real_name }}</td>
            </tr>
            {% endif %}

            {% if user.pm_mode != "disabled" %}
            <tr>
                <th>eMail</th>
                <td>
                    {% if user.pm_mode == "email" %}
                    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                    {% else %}
                        {% if user == current_user %}
                            [hidden]
                        {% else %}
                            [<a href="{{ url_for('contact_user', username = user.username) }}">hidden</a>]
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endif %}

            {% if user.website %}
            <tr>
                <th>Website</th>
                <td>{{ user.website }}</td>
            </tr>
            {% endif %}

            {% if user.abilities or user.abilities_extra %}
            <tr>
                <th>GameDev Abilities</th>
                <td>
                    <div>{{ ", ".join(user.abilities) }}</div>
                    <div>{{ user.abilities_extra }}</div>
                </td>
            </tr>
            {% endif %}
        </table>

        <h2>About</h2>
        {{ (user.about or "*This user has not written a description about themselves.*" ) | markdown }}
    </div>
    <div class="span6">
        <h2>Games created</h2>
        {% if not user.games %}
            <p><i>This user has not made any games yet.</i></p>
        {% else %}
            <ul>
                {% for game in user.games %}
                    <li>
                        <b>{{ game.jam.getLink() }}</b><br />
                        <a href="{{ game.url() }}"><span>{{ game.title }}</span></a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

{% endblock %}
