{% extends "base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block content %}

<div class="row-fluid">
    <div class="span5">
        <h2>Reset password</h2>
        <form action="{{ url_for('reset_request') }}" method="post" class="block">
            {{ form.hidden_tag() }}
            {{ form_errors(form) }}

            <div class="field">
                {{ form.username.label }}
                {{ form.username(class="text-input", style="width: 375px;") }}
            </div>
            <div class="field">
                {{ form.captcha }}
            </div>
            <p class="form-buttons">
                <input type="submit" class="btn btn-primary" value="Reset">
            </p>
        </form>
    </div>
</div>

{% endblock %}
