{% extends "base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block content %}

<div class="row-fluid">
    <div class="span5">
        <h2>New password</h2>
        <form action="{{ url_for('reset_verify', username=user.username, token=user.getResetToken()) }}" method="post" class="block">
            {{ form.hidden_tag() }}
            {{ form_errors(form) }}

            <div class="field">
                {{ form.password.label }}
                {{ form.password(class="password-input") }}
                <span class="input-info" title="all characters allowed">min 8 characters</span>
            </div>
            <div class="field">
                {{ form.password2.label }}
                {{ form.password2(class="password-input") }}
            </div>
            <p class="form-buttons">
                <input type="submit" class="btn btn-primary" value="Change">
            </p>
        </form>
    </div>
</div>

{% endblock %}
