{% extends "base.html" %}

{% set status = jam.get_status() %}
{% block center %}
    {% set s = ["Announced", "Registrations", "In Progress", "Packaging", "Rating", "Finished"][status.code] %}
    <div class="center-status" title="{{ status }}">
        {% if status.code == 2 %}
            <a href="{{ url_for('countdown', jam_slug = jam.slug) }}">
                <div class="mini-countdown" time="{{ jam.end_time }}">
                    <div class="time">{{ (jam.end_time - current_datetime) | countdowndelta }}</div>
                </div>
            </a>
        {% else %}
            {{ s }}
        {% endif %}
    </div>
{% endblock %}

{% block menu %}
<b>{{ jam.title }}</b>

{% macro jam_menu(endpoint, label, is_url = False, force_current = False) %}
    {% if is_url %}
        <li{% if endpoint == request.url or force_current %} class="current"{% endif %}><a href="{{ endpoint }}">{{ label }}</a></li>
    {% else %}
        <li{% if endpoint == request.endpoint or force_current %} class="current"{% endif %}><a href="{{ url_for(endpoint, jam_slug = jam.slug) }}">{{ label }}</a></li>
    {% endif %}
{% endmacro %}

{% set p = current_user.get_participation(jam) if current_user.is_authenticated else None %}

<ul class="menu">
    {{ jam_menu("jam_info", "Overview") }}
    {{ jam_menu("jam_games", "Games") }}
    {{ jam_menu("jam_participants", "Participants") }}
    {% if p %}
    {{ jam_menu(p.team.url(), "Your Team", True, p.team == team) }}
    {% set has_game = p.team and p.team.game %}
    {% if has_game or jam.get_status().code < 5 %}
    {{ jam_menu(p.team.game.url() if has_game else url_for("create_game", jam_slug = jam.slug), "Your Game" if has_game else "Create Game", True, p.team.game == game or request.endpoint == "create_game") }}
    {% endif %}
    {% endif %}
</ul>
{% endblock %}
