{% extends "base.html" %}

{% block breadcrumb %}
    <li><a href="{{ jam.url() }}">{{ jam.title }}</a></li>
    {% block subbreadcrumb %}{% endblock %}
{% endblock %}

{% block sidebar %}
<h1>{{ jam.title }}</h1>

{% macro jamMenu(endpoint, label) %}
    <li{% if endpoint == request.endpoint %} class="current"{% endif %}><a href="{{ url_for(endpoint, jam_slug = jam.slug) }}">{{ label }}</a></li>
{% endmacro %}

<ul class="sidebar">
    {{ jamMenu("jam_info", "Info") }}
    {{ jamMenu("jam_games", "Games") }}
    {{ jamMenu("jam_participants", "Participants") }}
    {{ jamMenu("jam_teams", "Team List") }}
    {{ jamMenu("jam_team_finder", "Team Finder") }}
</ul>

<hr />

<ul class="sidebar">
    <li><a href="#">Your Team</a></li>
    <li><a href="#">Your Game</a></li>
    <li><a href="#">Register for this jam</a></li>
</ul>
{% endblock %}
