{% extends "jam/base.html" %}
{% set showRatings = jam.getStatus().code > 4 %}

{% block title %}Games of {{ jam.title }}{% endblock %}

{% block content %}

<h1>Games</h1>

{% if jam.games.all() | length == 0 %}
    <p>There are no games yet.</p>
{% else %}
    <table class="table table-hover table-bordered full">
    <thead>
        <tr class="sorters">
            <th style="width: 2em;"></th>
            <th>Game Title</th>
            <th>Team</th>
            <th>Members</th>
            <th>Screenshots</th>
            <th class="nosort">Download</th>
            <th>Rating (you)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% set games = jam.gamesByScore if showRatings else jam.gamesByTotalRatings %}
        {% for game in games %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ game.url() }}">{{ game.title }}</a></td>
            <td><a href="{{ game.team.url() }}">{{ game.team.name }}</a></td>
            <td data-value="{{ game.team.members | length }}">
                {% for m in game.team.members %}
                {{ m.getLink(real=False) }}
                {#<a href="{{ m.url() }}">{{ m.username }}</a>#}
                {{ "," if not loop.last else "" }}
                {% endfor %}
            </td>
            <td>{{ game.screenshots.count() }}</td>
            <td>
                {% if game.packages.count() %}
                    {% for p in game.packages %}
                        {{ p.getLinkShort() }}
                        {{ "|" if not loop.last else "" }}
                    {% endfor %}
                {% else %}
                    <i>no packages submitted</i>
                {% endif %}
            </td>
            <td>
                {% if jam.getStatus().code <= 3 %}
                    n/a <!-- before rating -->
                {% else  %}
                    {% if showRatings %}
                        {{ "%.02f" % game.score }}
                    {% else %}
                        n/a
                    {% endif %}
                    &ndash;

                    {% set r = current_user.ratings.filter_by(game = game).first() if current_user.is_authenticated() else None %}
                    {% if r %}
                        {{ r.score }}
                    {% else %}
                        n/a
                    {% endif %}

                    {% if jam.getStatus().code == 4 and current_user not in game.team.members %}
                        <a href="{{ url_for('rate_game', jam_slug = jam.slug, game_slug = game.slug) }}">{{ "(edit)" if r else "rate now" }}</a>
                    {% endif %}
                {% endif %}
            </td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </ul>
{% endif %}

{% endblock %}
