{% extends "jam/base.html" %}

{% block title %}{{ jam.title }}{% endblock %}

{% block content %}
<h1>
    {{ jam.title }}

    <small>{{ ("Theme: \"" + jam.theme + "\"") if jam.showTheme else "Theme not announced" }}</small>

    {% set r = current_user.getRegistration(jam) if current_user.is_authenticated() else None %}
    <div class="pull-right">
        {% if r %}
        <a class="btn" href="{{ url_for('jam_unregister', jam_slug = jam.slug) }}">Unregister</a>
        <a class="btn" href="{{ url_for('jam_toggle_show_in_finder', jam_slug = jam.slug) }}">
            {% if r.show_in_finder %}
                Hide me in the team finder
            {% else %}
                Show me in the team finder
            {% endif %}
        </a>

        {% else %}
        <a class="btn btn-primary" href="{{ url_for('jam_register', jam_slug = jam.slug) }}">Register</a>
        {% endif %}
    </div>
</h1>

<div class="row-fluid">
    <div class="span4">
        <h2>Jam Details</h2>
        <table class="details full">
            <tr><th>Announced</th><td>{{ jam.announced | humantime }}</a></td></tr>
            <tr><th>Time of jam</th><td>{{ jam.start_time | humantime }}</td></tr>
            <tr><th>Duration</th><td>{{ jam.duration }} hours</td></tr>
            <tr><th>Max team size</th><td>{{ jam.team_limit or "Unlimited" }}</td></tr>
            {% if status.code == 2 %}
            <tr><th>Time left</th><td>
                <span class="mini-countdown" time="{{ jam.end_time }}">
                    <span class="time">{{ (jam.end_time - current_datetime) | countdowndelta }}</span>
                </span>

                <a href="{{ url_for('countdown', jam_slug = jam.slug) }}" class="pull-right">
                    Countdown
                </a>
            </td></tr>
            {% endif %}
            {% if status.code == 3 or status.code == 4 %}
            <tr><th>Rating deadline</th><td>{{ jam.rating_end | humantime }}</td></tr>
            {% endif %}

            <tr>
                <th>Participants</th>
                <td>{{ jam.registrations.count() }} users
                    <a class="pull-right" href="{{ url_for('map', mode = 'jam', id = jam.id) }}">Show map</a>
                </td>
            </tr>
            <tr>
                <th>Teams</th>
                <td>{{ jam.teams.count() }} teams</td>
            </tr>
            <tr>
                <th>Games</th>
                <td>{{ jam.games.count() }} games</td>
            </tr>
        </table>

        {% if jam.description %}
        <h2>Description</h2>
        {{ jam.description | markdown }}
        {% endif %}

        {% if jam.restrictions %}
        <h2>Restrictions</h2>
        {{ jam.restrictions | markdown }}
        {% endif %}

        {% if jam.getStatus().code == 5 %}
        <h2>Winners</h2>
        {% if jam.games.count() > 1  %}
            <ol>
                {% for game in jam.getTopGames()[:3] %}
                    <li>
                        <a href="{{ game.team.url() }}">{{ game.team.name }}</a> with
                        <b><a href="{{ game.url() }}">{{ game.title }}</a></b>
                        ({{ "%.1f" | format(game.getTotalScore()) }})
                    </li>
                {% endfor %}
            </ol>
            <p><a class="btn btn-small" href="{{ url_for('jam_games', jam_slug = jam.slug) }}">Show ALL THE GAMES!</a></p>
        {% else %}
            <p>There were no games :(</p>
        {% endif %}
        {% endif %}

    </div>
    <div class="span8">
        <h2>Description</h2>
        {{ (jam.description or "*This jam has no description.*") | markdown }}

        {% if jam.restrictions %}
            <h2>Restriction</h2>
            {{ jam.restrictions | markdown }}
        {% endif %}
    </div>
</div>
{% endblock %}
