{% set jam = invitation.team.jam %}
{% extends "jam/base.html" %}

{% block title %}Invitation to {{ invitation.team.name }}{% endblock %}

{% block content %}

<h1>Invitation to {{ invitation.team.name }}</h1>

<div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span6">
        <p>
            You were invited to the team <a href="{{ invitation.team.url() }}">{{ invitation.team.name }}</a>. You can either
            accept or decline this invitation.
        </p>
        {% set current_team =  current_user.getTeam(invitation.team.jam) %}

        {% if current_team %}
        <p>
            Notice that you will leave your current team (<a href="{{ current_team.url() }}">{{ current_team.name }}</a>).
            If there is no user left in that team, it is <b style="color: red;">PERMANENTLY DELETED</b>,
            including all games, invitations and other team-related
            data.
        </p>
        {% else %}
        <p>
            By accepting the invitation you will automatically be registered
            for the jam <a href="{{ jam.url() }}">{{ jam.name }}</a>.
        </p>
        {% endif %}
        <p>
            You will have to join a team before the packaging phase of the
            game jam ends. After packaging, team joining is disabled.
        </p>
        <p style="text-align: center">
            <a href="{{ invitation.url(action = 'decline') }}" class="btn btn-danger">Decline</a>
            <a href="{{ invitation.url(action = 'accept') }}" class="btn btn-success">Accept</a>
        </p>
    </div>
    <div class="span3">
    </div>
</div>
</form>

{% endblock %}
