{% set jam = invitation.team.jam %}
{% extends "jam/base.html" %}

{% block title %}Invitation to {{ invitation.team.name }}{% endblock %}

{% block content %}

<h1>Invitation to {{ invitation.team.name }}</h1>

{% if current_user == invitation.user %}
<div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span6">
        <p>
            You were invited to the team <a href="{{ invitation.team.url() }}">{{ invitation.team.name }}</a>. You can either
            accept or decline this invitation.
        </p>
        {% set current_team =  current_user.getTeam(invitation.team.jam) %}

        {% if current_team %}
        <p>
            Notice that you will leave your current team (<a href="{{ current_team.url() }}">{{ current_team.name }}</a>).
            If there is no user left in that team, it is <b style="color: red;">PERMANENTLY DELETED</b>,
            including all games, invitations and other team-related
            data.
        </p>
        {% else %}
        <p>
            By accepting the invitation you will automatically be registered
            for the jam <a href="{{ jam.url() }}">{{ jam.name }}</a>.
        </p>
        {% endif %}
        <p>
            You will have to join a team before the packaging phase of the
            game jam ends. After packaging, team joining is disabled.
        </p>
        <p style="text-align: center">
            <a href="{{ invitation.url(action = 'decline') }}" class="btn btn-danger">Decline</a>
            <a href="{{ invitation.url(action = 'accept') }}" class="btn btn-success">Accept</a>
        </p>
    </div>
    <div class="span3">
    </div>
</div>
{% else %}
<div class="well" style="max-width: 400px;">
    <p>
        This is the invitation for {{ invitation.user.getLink() }} to your team
        <a href="{{ invitation.team.url() }}">{{ invitation.team.name }}</a>.
    </p>
    <p>
        To accept this invitation, the user has to visit this page, where they will
        be asked to confirm the invitation. This invitation is personalized, so only
        the selected user can accept it, while logged in.
    </p>
    {% if not invitation.user.notify_team_invitation %}
    <p>
        <b>Since the user has disabled eMail notifications for Invitations, make
            sure they receive this page's link some other way:</b>
    </p>
    {% endif %}
    <p style="margin-left: 20px; font-weight: bold; font-size: 1.2em;">
        <a href="{{ invitation.url() }}">{{ invitation.url() }}</a>
    </p>
    {% endif %}
    <p>
        <a href="{{ invitation.url(action='revoke') }}" class="btn btn-danger btn-normal">Revoke this invitation</a>
    </p>
</div>
{% endblock %}
