{% extends "jam/base.html" %}

{% set status = jam.getStatus() %}

{% block title %}{{ jam.title }}{% endblock %}

{% block center %}
    {% set s = ["Announced", "Registrations", "In Progress", "Packaging", "Rating", "Finished"][status.code] %}
    <div class="center-status" title="{{ status }}">
        {% if status.code == 2 %}
                <a href="{{ url_for('countdown', jam_slug = jam.slug) }}">
                    <div class="mini-countdown" time="{{ jam.end_time }}">
                        <div class="time">{{ (jam.end_time - current_datetime) | countdowndelta }}</div>
                    </div>
                </a>
        {% endif %}
        {{s}}
    </div>
{% endblock %}

{% block content %}

<h1>{{ jam.title }}<small>{{ ("Theme: \"" + jam.theme + "\"") if jam.theme and jam.getStatus().code > 1 else "Theme not announced" }}</small></h1>

{% set r = current_user.getRegistration(jam) if current_user else None %}
    {% if r %}
    <a class="btn" href="{{ url_for('jam_unregister', jam_slug = jam.slug) }}">Unregister from this jam</a>
    <a class="btn" href="{{ url_for('jam_toggle_show_in_finder', jam_slug = jam.slug) }}">
        {% if r.show_in_finder %}
        Hide me in the team finder
        {% else %}
        Show me in the team finder
        {% endif %}
    </a>

    {% else %}
    <a class="btn" href="{{ url_for('jam_register', jam_slug = jam.slug) }}">Register for this jam</a>
    {% endif %}

<div class="row-fluid">
    <div class="span4">
        <h2>Jam Details</h2>
        <table class="details full">
            <tr><th>Announced</th><td>{{ jam.announced | humantime }}</a></td></tr>
            <tr><th>Time of jam</th><td>{{ jam.start_time | humantime }}</td></tr>
            <tr><th>Duration</th><td>{{ jam.duration }} hours</td></tr>
            <tr><th>Max team size</th><td>{{ jam.team_limit or "Unlimited" }}</td></tr>
            {% if status.code == 2 %}
            <tr><th>Time left</th><td>
                <a href="{{ url_for('countdown', jam_slug = jam.slug) }}">
                    <div class="mini-countdown" time="{{ jam.end_time }}">
                        <div class="time">{{ (jam.end_time - current_datetime) | countdowndelta }}</div>
                    </div>
                </a>
            </td></tr>
            {% endif %}
            {% if status.code == 3 or status.code == 4 %}
            <tr><th>Rating deadline</th><td>{{ jam.rating_end | humantime }}</td></tr>
            {% endif %}

            <tr>
                <th>Participants</th>
                <td>{{ jam.registrations.count() }} users
                    <a href="{{ url_for('map', mode = 'jam', id = jam.id) }}">Map »</a>
                </td>
            </tr>
            <tr>
                <th>Teams</th>
                <td>{{ jam.teams.count() }} teams</td>
            </tr>
            <tr>
                <th>Games</th>
                <td>{{ jam.games.count() }} games</td>
            </tr>
        </table>

        {% if jam.description %}
        <h2>Description</h2>
        {{ jam.description | markdown }}
        {% endif %}

        {% if jam.restrictions %}
        <h2>Restrictions</h2>
        {{ jam.restrictions | markdown }}
        {% endif %}

        {% if jam.getStatus().code == 5 %}
        <h2>Winners</h2>
            {% if jam.games.count() > 1  %}
                <ul class="games-winners">
                {% for game in jam.getTopGames()[:3] %}
                <li class="place-{{ loop.index }}"><a href="{{ game.url() }}">
                    {% set s = game.screenshots[-1] %}
                    {% if s %}
                    <img src="{{ s.url }}" title="{{ game.title }}: {{ s.caption }}" />
                    {% else %}
                    <img src="{{ url_for('static', filename = 'gfx/default-screenshot.png') }}" title="No screenshots submitted yet." />
                    {% endif %}

                    <div class="star"></div>
                </a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>There were no games :(</p>
            {% endif %}
        {% endif %}

    </div>
    <div class="span8">
        <h2>Jam Events</h2>
        <p>
            EVENT TIMELINE HERE!
        </p>

        <div>
            <a href="#" class="btn">more …</a>
        </div>
    </div>
</div>
{% endblock %}
