{% extends "jam/base.html" %}

{% set status = jam.getStatus() %}

{% block title %}{{ jam.title }}{% endblock %}

{% block center %}
    {% set s = ["Announced", "In Progress", "Packaging", "Rating", "Finished"][status.code] %}
    <div class="center-status" title="{{ status }}">
        {% if status.code == 1 %}
                <a href="{{ url_for('countdown', jam_slug = jam.slug) }}">
                    <div class="mini-countdown" time="{{ jam.end_time }}">
                        <div class="time">{{ (jam.end_time - current_datetime) | countdowndelta }}</div>
                    </div>
                </a>
        {% endif %}
        {{s}}
    </div>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span6">
        <h1>{{ jam.title }}<small>{{ ("Theme: \"" + jam.theme + "\"") if jam.theme else "Theme not yet selected" }}</small></h2>
        <table class="details">
            <tr><th>Announced</th><td>{{ jam.announced | humantime }} by {{ jam.author.getLink() }}</a></td></tr>
            <tr><th>Time of jam</th><td>{{ jam.start_time | humantime }}</td></tr>
            <tr><th>Duration</th><td>{{ jam.start_time | humandelta(jam.end_time) }}</td></tr>
            <tr><th>Team limit</th><td>{{ jam.team_jam }}</td></tr>
            {% if status.code == 1 %}
            <tr><th>Time left</th><td>
                <a href="{{ url_for('countdown', jam_slug = jam.slug) }}">
                    <div class="mini-countdown" time="{{ jam.end_time }}">
                        <div class="time">{{ (jam.end_time - current_datetime) | countdowndelta }}</div>
                    </div>
                </a>
            </td></tr>
            {% endif %}
            {% if status.code == 2 or status.code == 3 %}
            <tr><th>Rating deadline</th><td>{{ jam.rating_end | humantime }}</td></tr>
            {% endif %}
        </table>

        <p>
            <a href="#" class="btn btn-primary">Participate</a>
        </p>


        TODO: Show list of winners here when it's done.
    </div>
    <div class="span6">
        <h1>Jam Events</h1>
        <p>
            EVENT TIMELINE HERE!
        </p>

        <div>
            <a href="#" class="btn btn-inverse">more …</a>
        </div>
    </div>
</div>
{% endblock %}
