{% extends "jam/base.html" %}

{% block title %}Participants of {{ jam.title }}{% endblock %}

{% block content %}

<h1>Participants <small>{{ jam.registrations.all() | length }} people are registered</small>

    <a class="btn btn-primary pull-right" href="{{ url_for('map', mode = 'jam', id = jam.id) }}">Participant Map</a>

</h1>

{% if jam.registrations.all() | length == 0 %}
    <p>There are no participants yet.</p>
{% else %}
    <table class="tabular full">
        <tr class="sorters">
            <th style="width: 10px;"></th>
            <th>Username</th>
            <th>Abilities</th>
            <th>Location</th>
            <th>Registered</th>
            <th>Team status</th>
            <th>Jam #</th>
            <th></th>
        </tr>
    {% for r in jam.registrations %}
        <tr>
            <td>{{ loop.index }}</td>

            <td data-value="{{ r.user.username }}">{{ r.user.getLink() }}</td>

            {% set a = r.user.abilities | join(', ') %}
            {% if a %}{% set a = a + "<br />" %}{% endif %}
            {% set a = a  + (r.user.abilities_extra or "") %}
            <td>{{ a | safe or "n/a" }}</td>

            <td>{{ r.user.getLocation() }}</td>

            <td data-value="{{ r.registered }}">
                {{ r.registered | humantime }}
            </td>

            {% set looking = r.show_in_finder and r.team.isSingleTeam %}
            <td data-value="{{ '' if looking else r.team.name }}">
                {% if looking %}
                    Looking for team
                {% else %}
                    <a href="{{ r.team.url() }}">{{ r.team.name }}</a>
                {% endif %}
            </td>

            <td>{{ r.user.registrations.filter("registration.registered <= '" + jam.start_time | string +  "'").count() + 1 }}</td>

            <td><a href="{{ url_for('team_settings', jam_slug = jam.slug) }}?invite={{ r.user.username }}">Invite</a></td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

{% endblock %}
