{% extends "jam/base.html" %}

{% block title %}Teams of {{ jam.title }}{% endblock %}

{% block subbreadcrumb %}
    <li><a href="#">Team list</a></li>
{% endblock %}


{% block content %}

<h1>Teams <small>{{ jam.teams.all() | length }} teams</small></h1>

{% if jam.teams.all() | length == 0 %}
    <p>There are no teams yet.</p>
{% else %}
    <table class="teams">
    {% for team in jam.teams %}
        <tr><th style="white-space: nowrap;">
            <a href="{{ team.url() }}">{{ team.name }}</a>
        </th><td>
            <ul class="users">
            {% for member in team.members %}
            <li>{{ member.getLink() }}</li>
            {% endfor %}
            </ul>
        </td></tr>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}
