{% extends "jam/base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block content %}

<h1>
    {% if mode == "create" %}
    Write Devlog
    {% else %}
    Edit devlog post
    {% endif %}
</h1>

<div class="row-fluid write-devlog">
    <div class="span2"></div>
    <div class="span8">
        <form action="{{ url_for('jam_devlog', jam_slug = jam.slug, edit_id = edit_id) }}" method="post" class="block">
        {{ form.hidden_tag() }}
        {{ form_errors(form) }}

        <h2>
            <div style="text-align: center;">
                Subject {{ form.title(style="width: 60%") }}
            </div>
        </h2>

        <div class="field">
            {{ form.text(rows = 20, style="width: 100%") }}
        </div>

        <div style="text-align: right;">
            <div class="form-info" style="display: inline;">Parsed with Markdown</div>
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        </form>
    </div>
    <div class="span2"></div>
</div>


{% endblock %}

