{% extends "jam/base.html" %}

{% block title %}{{ team.name }}{% endblock %}

{% block content %}

<h1>
    {{ team.name }}
    <small style="margin-right: 20px;">for {{ jam.title }}</small>

    <div class="pull-right">
    {% if current_user.is_authenticated() and current_user.inTeam(team) %}
        {% if team.canInvite(current_user) %}
            <a href="{{ url_for('team_settings', jam_slug = team.jam.slug) }}" class="btn btn-normal">Invite a member</a>
        {% elif team.jam.team_limit > 1 %}
            <small>Team is full</small>
        {% endif %}

        <a href="{{ url_for('leave_team', jam_slug = jam.slug) }}" class="btn btn-normal">Quit the team</a>
        <a href="{{ url_for('team_settings', jam_slug = team.jam.slug) }}" class="btn btn-primary btn-normal">Team settings</a>
    {% endif %}
    </div>
</h1>

{% set games = team.games.all() %}

<div class="row-fluid">
    <div class="span4">
        <h2>Team Details</h2>
        <table class="details">
            <tr><th>Participants</th><td>
                {{ team.members | length }} member{{ "" if team.members | length == 1 else "s" }}
                <a href="{{ url_for('map', mode = 'team', id = team.id) }}">Map »</a>
            </td></tr>

            <tr><th>Founded by</th><td>
                {{ team.members[0].getLink() }}
            </td></tr>

            {% if team.wip %}
            <tr><th>Working on</th><td>
                {{ team.wip }}
            </td></tr>
            {% endif %}

            {% if team.livestreams %}
            <tr><th>Livestream</th><td>
                {% for line in team.livestreams.splitlines() %}
                <a href="{{ line }}">LiveStream {{ loop.index }}</a><br />
                {% endfor %}
            </td></tr>
            {% endif %}

            {% if team.irc %}
            <tr><th>IRC Channel</th><td>
                {{ team.irc }}
            </td></tr>
            {% endif %}
        </table>

        <h2>Users in this team</h2>
        <ul class="users">
            {% for member in team.members %}
            <li>{{ member.getLink() }}</li>
            {% endfor %}
        </ul>

        {% if games %}
        <h2>Game{{ "" if games | length == 1 else "s" }}</h2>

        <ul class="games" style="text-align: center;">
        {% for game in games %}
        <li><a href="{{ game.url() }}">
            {% set s = game.screenshots[-1] %}
            {% if s %}
            <img src="{{ s.url }}" title="{{ game.title }}: {{ s.caption }}" />
            {% else %}
            <img src="{{ url_for('static', filename = 'gfx/default-screenshot.png') }}" title="No screenshots submitted yet." />
            {% endif %}

            <span>{{ game.title }}</span>
        </a></li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock %}
