{% extends "jam/base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block content %}
<h1>Leave team {{ team.name }}</h1>

<form method="post">
{{ form.hidden_tag() }}
{{ form_errors(form) }}

<div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span6">
        <h2>Confirmation</h2>
        <p>
            You are in the process of leaving your team. If there is no
            user left in that team, it is <b style="color: red;">PERMANENTLY DELETED</b>,
            including all games, invitations and other team-related
            data.
        </p>
        <p>
            You will still be registered for the jam, and you can still be invited
            to other teams via the participant list. You will have your <b>own team</b>
            with its own page, to which you can invite other people, too.
        </p>
        <p>
            <label class="checkbox">
                {{ form.confirm() }}
                {{ form.confirm.label.text }}
            </label>
        </p>
        <p>
            <input type="submit" class="btn btn-primary" value="I understand, leave the team" />
        </p>
    </div>
    <div class="span3">
    </div>
</div>
</form>

{% endblock %}
