{% extends "base.html" %}
{% block content %}
<h2>Register</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="{{ url_for('register') }}" method=post>
    {{ form.hidden_tag() }}
    {% for error in form.username.errors %}{{ error }}{% endfor %}
    {{ form.username.label }}: {{ form.username() }}
    {% for error in form.password.errors %}{{ error }}{% endfor %}
    {{ form.password.label }}: {{ form.password() }}
    {% for error in form.email.errors %}{{ error }}{% endfor %}
    {{ form.email.label }}: {{ form.email() }}
    <input type=submit value=Go>
</form>
{% endblock %}
