{% extends "base.html" %}

{% block title %}Participant {{ participant.username }}{% endblock %}

{% block content %}
<h2>View Participant {{ participant.username }}</h2>
<h3>Entries:</h3>
<ul>
{% for entry in participant.entries %}
    <li>
        <a href="{{ url_for('show_entry', jam_name=entry.jam.short_name, entry_name=entry.name) }}">{{ entry.name }}</a> for 
        <a href="{{ url_for('show_jam', jam_name=entry.jam.short_name) }}">{{ entry.jam.short_name }}</a>
    </li>
{% endfor %}
</ul>
{% endblock %}
