{% extends "emails/base.html" %}

{% block content %}

<p>
    Hello {{ recipient.username }}, you requested a password reset.
</p>

<p>
    To reset your password, please visit the following link
    link:

    <a href="{{ url_for('reset_verify', username=recipient.username,
             token=recipient.getResetToken(),
             _external=True) }}">
        {{ url_for('reset_verify', username=recipient.username,
        token=recipient.getResetToken(),
        _external=True) }}
    </a>
</p>

<p>
    <i>The BaconGameJam Staff</i>
</p>
{% endblock %}
