{% extends "emails/base.html" %}

{% block content %}

<p>
    Hello {{ recipient.username }}, {% if not email_changed %}welcome to BaconGameJam!{% endif %}
</p>

<p>
    You have recieved this email to confirm your ownership of the email
    given during sign up for the user {{ recipient.username }}.
</p>

<p>
    To verify your email address, please visit the following verification
    link:

    <a href="{{ url_for('verify', username=recipient.username, verification=recipient.getVerificationHash(), _external=True) }}">
        {{ url_for('verify', username=recipient.username, verification=recipient.getVerificationHash(), _external=True) }}
    </a>
</p>

<p>
    If you received this email by error or did not {% if email_changed %}
    change your settings{% else %}register on bacongamejam.org{% endif %},
    please ignore this email.
</p>

<p>
    <i>The BaconGameJam Staff</i>
</p>
{% endblock %}
